@model SaleDetails

@inject IViewLocalizer localizer

<tr id="newItem">
    <td>
        <select class="form-control select2 productId required" style="width: 100%;" asp-for="@Model.ProductId" asp-items="@ViewBag.Products" required>
            <option selected="selected" value="">@localizer["Select Product"]</option>
        </select>
        <p class="text text-primary"></p>
        <span asp-validation-for="@Model.ProductId" class="text-danger"></span>
    </td>

    <td>
        <select class="form-control select2 batchId required" style="width: 100%;" asp-for="@Model.UnitId" required asp-items="@ViewBag.Units">
            <option selected="selected" value="">@localizer["Select Unit"]</option>
        </select>
        <div class="text text-primary" id="availQty"></div>
        <span asp-validation-for="@Model.UnitId" class="text-danger"></span>
    </td>

    <td>
        <input type="number" step="any" class="form-control calc" asp-for="@Model.UnitPrice" placeholder="0.00" required
               oninput="$(this).closest('tr').find('#TotalSalePrice').val(($(this).closest('tr').find('#Qty').val() * $(this).val()) - ( ( ($(this).val() * $(this).closest('tr').find('#disc_per').val()) / 100 ) *  $(this).closest('tr').find('#Qty').val()) );" />
        <div class="text text-primary"></div>
        <span asp-validation-for="@Model.UnitPrice" class="text-danger"></span>
    </td>

    <td>
        <input type="number" step="any" class="form-control calc" asp-for="@Model.Qty" placeholder="0.00" required
               oninput="$(this).closest('tr').find('#TotalSalePrice').val(($(this).closest('tr').find('#UnitPrice').val() * $(this).val()) -( (($(this).closest('tr').find('#UnitPrice').val() * $(this).closest('tr').find('#disc_per').val()) / 100) * $(this).val() ) );" />
        <span asp-validation-for="@Model.Qty" class="text-danger"></span>
    </td>

    <td class="d-none">
        <input type="hidden" asp-for="@Model.Discount" />
        <input type="number" step="any" class="form-control calc dis" value="0" min="0" max="100" id="disc_per"
               oninput="$(this).closest('tr').find('#TotalSalePrice').val(($(this).closest('tr').find('#Qty').val() * $(this).closest('tr').find('#UnitPrice').val()) - ((($(this).closest('tr').find('#UnitPrice').val()) * $(this).val() / 100) * $(this).closest('tr').find('#Qty').val())); $(this).closest('tr').find('#Discount').val(((($(this).closest('tr').find('#UnitPrice').val()) * $(this).val() / 100) * $(this).closest('tr').find('#Qty').val()));" />
        <div class="text text-primary"></div>
        <span asp-validation-for="@Model.Discount" class="text-danger"></span>
    </td>

    <td>
        <input type="number" step="any" class="form-control total" asp-for="@Model.TotalSalePrice" placeholder="0.00" readonly required />
        <div class="text text-primary"></div>
        <span asp-validation-for="@Model.TotalSalePrice" class="text-danger"></span>
    </td>

    <td>
        <button type="button" class="btn btn-sm btn-danger" onclick="$(this).closest('tr').remove();"><i class="fa fa-trash"></i>@localizer["Delete"]</button>
    </td>
</tr>

<script src="~/js/saleFormValidation.js"></script>

<script>
    $('.select2').select2();

    $('.batchId').change(function () {
        var pId = $(this).closest('tr').find('#ProductId').val();
        var batchId = $(this).val();
        var elm = $(this).closest('tr').find('#availQty');
        var elm2 = $(this).closest('tr').find('#UnitPrice');
        $(this).closest('tr').find("#UnitPrice").val("");
        $(this).closest('tr').find("#Qty").val("");
        $(this).closest('tr').find("#Discount").val(0);
        elm.text("");
        $.ajax({
            type: "GET",
            cache: false,
            url: '@Url.Action("GetProductsAvailQtyByUnit", "Sale")',
            data: { "unitId": batchId, "productId": pId },
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                //console.log(response);
                elm.text("Available Qty: " + response);
                getQty(elm2, batchId, pId);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("No, available Qty!");
                elm.text("No, available Qty!")
            }
        });
    });

    function getQty(elm2, batchId, pId) {
        $.ajax({
            type: "GET",
            cache: false,
            url: '@Url.Action("GetBatchUnitPrice", "Sale")',
            data: { "unitId": batchId, "productId": pId },
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                //console.log(response);
                elm2.val(response);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                elm2.val("No unit price available.");
                console.log("No, unit price available.");
            }
        });
    }

</script>