@model CreateSaleViewModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Sales"];
    var Sale = Model.Sale;
    var SaleDetails = Model.SaleDetails;
}

<div id="PlaceHolderHere"></div>
<style>
    #DiscountTextBoxDiv, #FixedAmountTextBoxDiv, #amountlable {
        display: none;
    }
</style>
<div class="main-body">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-ms-12" style="margin:0 auto;">
                <div class="page-header card">
                    <div class="card-block">
                        @localizer[""]
                        <h5 class="m-b-10">@localizer["Sales Administration"]</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                <a asp-action="Index" asp-controller="Sale"
                                   class="btn btn-mat btn-primary" style="color: white;">
                                    <i class="fa fa-list"></i> @localizer["Sales List"]
                                </a>

                                <a asp-action="Index" asp-controller="Customer"
                                   class="btn btn-mat btn-info" style="color: white;">
                                    <i class="fa fa-user"></i> @localizer["Customer"]
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Basic Form Inputs card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>@localizer["Add a new sale details"]</h5>

                                    <div class="card-header-right">
                                        <i class="icofont icofont-spinner-alt-5"></i>
                                    </div>

                                    <div class="card-header-right">
                                        <i class="icofont icofont-spinner-alt-5"></i>
                                    </div>
                                    <hr />
                                </div>

                                <div class="card-block">
                                    <div class="col-sm-12 text text-center">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12" style="margin: 0 auto;">
                                        <form method="post" asp-action="Create" id="frm">
                                            <div class="row">

                                                <div class="col-lg-3 col-md-3 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">@localizer["Customer"]<span class="required">*</span></label>
                                                        <select required class="form-control select2" id="customerId" style="width: 100%;" asp-for="@Sale.CustomerId" asp-items="@ViewBag.Customers">
                                                            <option selected="selected" value="0">@localizer["WALKING CUSTOMER"]</option>
                                                        </select>
                                                        <span asp-validation-for="@Sale.CustomerId" class="text-danger"></span>
                                                        <a data-toggle="ajax-modal" data-target="#exampleModal" data-url="@Url.Action("CreatePartial","Customer")"
                                                           data-redirect="@Url.Action("Create", "Sale")" class="text text-info" style="color: white; cursor: pointer;" id="btnAddCustomer">
                                                            <i class="fa fa-plus"></i>@localizer["Customer"]
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">@localizer["Sale Type"]<span class="required">*</span></label>
                                                        <select class="form-control select2" style="width: 100%;" asp-for="@Sale.SaleType" asp-items="Html.GetEnumSelectList<SaleType>()">
                                                        </select>
                                                        <span asp-validation-for="@Sale.SaleType" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">@localizer["Currency"]<span class="required">*</span></label>
                                                        <select class="form-control select2 required" required style="width: 100%;" id="CurrencyID" asp-for="@Sale.currencyEnum" asp-items="Html.GetEnumSelectList<CurrencyEnum>()">
                                                        </select>
                                                        <span asp-validation-for="@Sale.currencyEnum" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-12 d-none" id="dvExchange">
                                                    <div class="form-group">
                                                        <label class="control-label">@localizer["Exchange Rate"]<span class="required">*</span></label>
                                                        <input type="text" id="ExchangeRate" asp-for="@Sale.ExchangeRate" value="0" class="form-control" placeholder="@localizer["Exchange Rate"]" />
                                                        <span asp-validation-for="@Sale.ExchangeRate" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-12 d-none">
                                                    <div class="form-group">
                                                        <label class="control-label">@localizer["Exchange Amount"]<span class="required">*</span></label>
                                                        <input type="text" id="ExchangeAmount" asp-for="@Sale.ExchangeAmount" value="0" class="form-control" placeholder="@localizer["Exchange Amount"]" />
                                                        <span asp-validation-for="@Sale.ExchangeAmount" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-12 d-none">
                                                    <div class="form-group">
                                                        <label class="control-label">@localizer["Payment Type"] <span class="required">*</span></label>
                                                        <select required class="form-control select2" style="width: 100%;" asp-for="@Sale.PaymentType" id="pType">
                                                            <option value="1" selected="selected">@localizer["Cash Payment"]</option>
                                                            <option value="2">@localizer["Bank Payment"]</option>
                                                        </select>
                                                        <span asp-validation-for="@Sale.PaymentType" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 col-md-3 col-sm-12" id="bank" style="display: none;">
                                                    <div class="form-group">
                                                        <label class="control-label">@localizer["Bank"] <span class="required">*</span></label>
                                                        <select required class="form-control select2" style="width: 100%;" id="BankId" asp-for="@Sale.BankId" asp-items="@ViewBag.Banks">
                                                            <option selected="selected" value="0">@localizer["Select Bank"]</option>
                                                        </select>
                                                        <span asp-validation-for="@Sale.BankId" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">@localizer["Sale Date"] <span class="required">*</span> </label>
                                                        <input type="date" asp-for="@Sale.SaleDate" class="form-control" required />
                                                        <span asp-validation-for="@Sale.SaleDate" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 col-md-3 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">@localizer["Invoice No"]</label>
                                                        <input class="form-control" disabled value="@ViewBag.InvoiceNo" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">@localizer["Description"]</label>
                                                        <textarea asp-for="@Sale.Description" class="form-control" placeholder="@localizer["Details about Sale..."]"> </textarea>
                                                        <span asp-validation-for="@Sale.Description" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12 table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>@localizer["Product"] <span class="required">*</span></th>
                                                                <th>@localizer["Unit"] <span class="required">*</span></th>
                                                                <th>@localizer["Unit Price"] <span class="required">*</span></th>
                                                                <th>@localizer["Qty"] <span class="required">*</span></th>
                                                                <th class="d-none">@localizer["Discount (%)"] <small>@localizer["Per item"]</small>  <span class="required"></span></th>
                                                                <th>@localizer["Total Price"]</th>
                                                                <th>@localizer["Action"]</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="items">
                                                            @if (Model.SaleDetails != null)
                                                            {
                                                                foreach (var m in Model.SaleDetails)
                                                                {
                                                                    @await Html.PartialAsync("_SaleDetailsPartial", m)
                                                                }

                                                            }
                                                        </tbody>
                                                        @{
                                                            string CurrentName = System.Threading.Thread.CurrentThread.CurrentUICulture.Name;

                                                            var valueDefined = "";


                                                            switch (CurrentName)
                                                            {
                                                                case "ps":
                                                                    valueDefined = "text text-left";
                                                                    break;

                                                                case "da":
                                                                    valueDefined = "text text-left";
                                                                    break;

                                                                default:
                                                                    valueDefined = "text text-right";
                                                                    break;
                                                            }
                                                        }
                                                        <tbody>
                                                            <tr>

                                                                <td colspan="4" class="@valueDefined">@localizer["Sub Total"]</td>

                                                                <td>
                                                                    <input type="number" step="any" class="form-control" id="total" asp-for="@Sale.SubTotal" placeholder="0.00" readonly />
                                                                </td>

                                                                <td>
                                                                    <button type="button" class="btn btn-sm btn-primary-outline" id="btnAddItem"><i class="fa fa-plus-circle"></i> @localizer["Add New"]</button>
                                                                </td>

                                                            </tr>

                                                            <tr>
                                                                <td colspan="4" class="@valueDefined">

                                                                    <div class="form-group">
                                                                        <div id="input-type" class="row float-lg-right">
                                                                            <label for="input-type"> @localizer["Discount Type"] &nbsp;&nbsp; </label>
                                                                            <label class="radio-inline form-check-inline">
                                                                                <input type="radio" name="TextBoxCheck" checked="checked" value="0" onClick="show()" /> @localizer["Percentage(%)"]
                                                                            </label>
                                                                            <label class="radio-inline form-check-inline">
                                                                                <input type="radio" name="TextBoxCheck" value="1" onClick="show()" /> @localizer["Fixed Amount"]
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <div id='DiscountTextBoxDiv'>
                                                                        <input type="number" step="any" value="0" id="totalPercentDiscount" oninput="calcDiscount();" class="form-control calc" min="0" max="100" />
                                                                    </div>
                                                                    <div id='FixedAmountTextBoxDiv'>
                                                                        <input step="any" asp-for="@Sale.DiscountAmount" value="0" id="totalDiscount" class="form-control calc" />
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <div id="AmountLabelForDiscount"> <p class="text text-info">@localizer["Discount Amount"] : <span id="discAmount">0</span></p></div>
                                                                </td>

                                                            </tr>

                                                            <tr>
                                                                <td colspan="4" class="@valueDefined">@localizer["Rent"]</td>
                                                                <td>
                                                                    <input type="number" step="any" asp-for="@Sale.RentAmount" value="0" id="rent" class="form-control calc" />
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr class="d-none">
                                                                <td colspan="4" class="@valueDefined">@localizer["Tax"]</td>
                                                                <td>
                                                                    <input type="number" step="any" asp-for="@Sale.TaxAmount" value="0" id="tax" class="form-control calc" />
                                                                </td>
                                                                <td></td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="4" class="@valueDefined">@localizer["Grand Total"]</td>
                                                                <td>
                                                                    <input type="number" step="any" asp-for="@Sale.TotalAmount" placeholder="0.00" id="grandtotal" class="form-control" readonly />
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4" class="@valueDefined">@localizer["Paid Amount"]</td>
                                                                <td>
                                                                    <input type="number" step="any" asp-for="@Sale.PaidAmount" value="0" id="paid" class="form-control calc" />
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4" class="@valueDefined">@localizer["Due Amount"]</td>
                                                                <td>
                                                                    <input type="number" step="any" asp-for="@Sale.DueAmount" placeholder="0.00" id="due" class="form-control" readonly />
                                                                </td>
                                                                <td><button type="button" class="btn btn-sm btn-danger-outline text text-danger" onclick="clearAll();"><i class="fa fa-remove"></i> @localizer["Clear"]</button></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-12 text text-left">
                                                    <input type="hidden" value="@ViewBag.SaleDetailsFlg" id="SaleDetailsFlg" />
                                                    <input type="hidden" name="sbm_flg" id="sbm_flg" value="0" />
                                                    <button type="button" class="btn btn-sm btn-primary-outline mr-2" onclick="calculate();"><i class="fa fa-money"></i> @localizer["Calculate"]</button>

                                                    <button type="button" class="btn btn-sm btn-info-outline text text-info mr-2" onclick="fullPay();"><i class="fa fa-money"></i>@localizer["Full Paid"] </button>

                                                    <button type="submit" class="btn btn-mat btn-success mr-2" id="sbm_btnSave">
                                                        <i class="fa fa-save"></i> @localizer["Save"]
                                                    </button>
                                                    <button type="button" formtarget="_blank" id="sbm_btn" class="btn btn-mat btn-success mr-2">
                                                        <i class="fa fa-save"></i> @localizer["Save & Print"]
                                                    </button>
                                                    <button type="reset" class="btn btn-mat btn-danger">
                                                        <i class="fa fa-times"></i> @localizer["Cancel"]
                                                    </button>

                                                    <button type="button" id="HiddenTriggerForDropDown" hidden onclick="TriggerDropDownList();">
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Page body end -->

                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i> @localizer["Back"]
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script>
        document.getElementById('Sale_SaleDate').valueAsDate = new Date();
        $(document).ready(function () {
            $("#HiddenTriggerForDropDown").trigger('click');
        });

        $("#CurrencyID").on("change", function () {
            ShowHideExchangeFields();
        });

        $("#sbm_btn").on('click', function () {
            $("#sbm_flg").val("1");
            setTrAmount();

            $("#frm").submit();
        });

        $("#sbm_btnSave").on('click', function () {
            setTrAmount();
            $("#frm").submit();
        });

        function ShowHideExchangeFields() {
            $("#ExchangeRate").val("");
            $("#ExchangeAmount").val("");
            if ($("#CurrencyID").val() != 1 && $("#CurrencyID").val() != "") {
                $("#dvExchange").removeClass("d-none");
            }
            else {
                $("#dvExchange").addClass("d-none");
                $("#ExchangeRate").val(0);
                $("#ExchangeAmount").val(0);
            }
        }

        var i = 1;
        var sId = 0;
        var newCreateFlg = $("#SaleDetailsFlg").val();

        if (newCreateFlg == "0") {
            $(document).ready(function () {
                $("#items").find("tr").remove();
                //sId = $(this).val();
                $.ajax({
                    cache: false,
                    url: '@Url.Action("LoadDetails", "Sale")',
                    dataType: "html",
                    //data: { "supplierId": sId, "i": i },
                    type: "GET",
                    contentType: "application/json",
                    success: function (response) {
                        $('#items').append(response);
                    },
                    error: function (err) {
                        alert(err.responseText);
                    }
                });
            });
        }

        $("#btnAddItem").click(function () {
            i++;
            //sId = $("#supplierId").val();
            $.ajax({
                cache: false,
                url: '@Url.Action("LoadDetails", "Sale")',
                dataType: "html",
                //data: { "supplierId": sId, "i": i },
                type: "GET",
                contentType: "application/json",
                success: function (response) {
                    $('#items').append(response);
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });
        });

        if (newCreateFlg == "1") {
            $('.select2').select2();
        }

        function fullPay() {
            var total = $("#grandtotal").val();
            $("#due").val(0);
            $("#paid").val(total);
            setTrAmount();
        }

        function calcDiscount() {
            var subtotal = $("#total").val();
            var discper = $("#totalPercentDiscount").val();
            var res = (subtotal * discper) / 100;
            $("#totalDiscount").val(res);
            $("#discAmount").text(res);
        }

           function TriggerDropDownList() {
                    $("#customerId").empty().append('<option selected="selected" value="0">WALKING CUSTOMER</option>');
                   // $("#BankId").empty().append('<option selected="selected" value="0">--Select Bank--</option>');
                    $.ajax({
                        type: "POST",
                        cache: false,
                        url: '@Url.Action("GetCustomer", "Sale")',
                        contentType: "application/json",
                        dataType: "json",
                        success: function (response) {

                            response.forEach(function (item) {
                            $("#customerId").append($('<option>').val(item['value']).text(item['text']));
                            });
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                        }
                    });
           }

        DiscountTextBoxDiv.style.display = 'inline-block';

        AmountLabelForDiscount.style.display = 'inline-block';

        function show() {
            var TextBoxCheck = document.getElementsByName('TextBoxCheck');
            var DiscountTextBoxDiv = document.getElementById("DiscountTextBoxDiv");

            var FixedAmountTextBoxDiv = document.getElementById("FixedAmountTextBoxDiv");
            var AmountLabelForDiscount = document.getElementById("AmountLabelForDiscount");

            if (TextBoxCheck[0].checked) {

                DiscountTextBoxDiv.style.display = 'inline-block';
                AmountLabelForDiscount.style.display = 'inline-block';
                FixedAmountTextBoxDiv.style.display = 'none';
            } else {
                DiscountTextBoxDiv.style.display = 'none';
                AmountLabelForDiscount.style.display = 'none';
                FixedAmountTextBoxDiv.style.display = 'inline-block';
            }
        }

        function setTrAmount() {
            var am = ($("#grandtotal").val());
            var ex = $("#ExchangeRate").val();
            var tra = am * ex;
            $("#ExchangeAmount").val(tra);
        }

    </script>
    <script src="~/js/saleFormValidation.js"></script>
}