@model CreateSaleViewModel
@using PMS.Controllers

@{
    ViewData["Title"] = "Sales";
    var Sale = Model.Sale;
    var SaleDetails = Model.SaleDetails;
}

<div id="PlaceHolderHere"></div>
<style>
    #DiscountTextBoxDiv, #FixedAmountTextBoxDiv, #amountlable {
        display: none;
    }
</style>

<div class="main-body">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-ms-12" style="margin:0 auto;">
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">Sales Administration</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                <a asp-action="Index" asp-controller="Sale"
                                   class="btn btn-mat btn-primary" style="color: white;">
                                    <i class="fa fa-list"></i> Sales List
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Basic Form Inputs card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Edit sale details</h5>

                                    <div class="card-header-right">
                                        <i class="icofont icofont-spinner-alt-5"></i>
                                    </div>

                                    <div class="card-header-right">
                                        <i class="icofont icofont-spinner-alt-5"></i>
                                    </div>
                                    <hr />
                                </div>

                                <div class="card-block">
                                    <div class="col-sm-12 text text-center">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12" style="margin: 0 auto;">
                                        <form method="post" asp-action="Edit" id="frm">
                                            <div class="row">

                                                <div class="col-lg-3 col-md-3 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Customer<span class="required">*</span></label>
                                                        <select required class="form-control select2" id="customerId" style="width: 100%;" asp-for="@Sale.CustomerId" asp-items="@ViewBag.Customers">
                                                            <option selected="selected" value="0">WALKING CUSTOMER</option>
                                                        </select>
                                                        <span asp-validation-for="@Sale.CustomerId" class="text-danger"></span>
                                                        <a data-toggle="ajax-modal" data-target="#exampleModal" data-url="@Url.Action("CreateCustomerModel")"
                                                           data-redirect="@Url.Action("Success", "Sale")" class="text text-info" style="color: white; cursor: pointer;" id="btnAddCustomer">
                                                            <i class="fa fa-plus"></i> Add New Customer
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 col-md-3 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Sale Type<span class="required">*</span></label>
                                                        <select class="form-control select2" style="width: 100%;" asp-for="@Sale.SaleType" asp-items="Html.GetEnumSelectList<SaleType>()">
                                                            <option selected="selected" value="">--Select Sale Type--</option>
                                                        </select>
                                                        <span asp-validation-for="@Sale.SaleType" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 col-md-3 col-sm-12 d-none">
                                                    <div class="form-group">
                                                        <label class="control-label">Payment Type <span class="required">*</span></label>
                                                        <select required class="form-control select2" style="width: 100%;" asp-for="@Sale.PaymentType" id="pType" disabled>
                                                            <option value="1" selected="selected">Cash Payment</option>
                                                            <option value="2">Bank Payment</option>
                                                        </select>
                                                        <input type="hidden" asp-for="@Sale.PaymentType" />
                                                        <span asp-validation-for="@Sale.PaymentType" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 col-md-3 col-sm-12" id="bank" style="display: none;">
                                                    <div class="form-group">
                                                        <label class="control-label">Bank <span class="required">*</span></label>
                                                        <select required class="form-control select2" style="width: 100%;" asp-for="@Sale.BankId" asp-items="@ViewBag.Banks">
                                                            <option selected="selected" value="0">--Select Bank--</option>
                                                        </select>
                                                        <span asp-validation-for="@Sale.BankId" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 col-md-3 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Sale Date <span class="required">*</span> </label>
                                                        <input type="date" asp-for="@Sale.SaleDate" class="form-control" required />
                                                        <span asp-validation-for="@Sale.SaleDate" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 col-md-3 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Invoice No<span class="required">*</span></label>
                                                        <input class="form-control" disabled value="@Sale.Id" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Description</label>
                                                        <textarea asp-for="@Sale.Description" class="form-control" placeholder="Details about Sale..."> </textarea>
                                                        <span asp-validation-for="@Sale.Description" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <input type="hidden" asp-for="@Sale.Id" />
                                                    <input type="hidden" asp-for="@Sale.CreatedAt" />
                                                    <input type="hidden" asp-for="@Sale.TransCode" />
                                                    <hr />
                                                </div>

                                                <div class="col-12">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Product <span class="required">*</span></th>
                                                                <th>Unit <span class="required">*</span></th>
                                                                <th>Unit Price <span class="required">*</span></th>
                                                                <th>Qty <span class="required">*</span></th>
                                                                <th class="d-none">Discount (%) <small>Per item</small>  <span class="required"></span></th>
                                                                <th>Total Price</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="items">
                                                            @if (Model.SaleDetails != null)
                                                            {
                                                                foreach (var m in Model.SaleDetails)
                                                                {
                                                                    @*@await Html.PartialAsync("_EditSaleDetailsPartial", m)*@
                                                                    <tr id="newItem">
                                                                        <td>
                                                                            <select class="form-control select2 productId" style="width: 100%;" id="ProductId" asp-for="@m.ProductId" name="ProductId" asp-items="@ViewBag.Products" required>
                                                                                <option selected="selected" value="0">--Select Product--</option>
                                                                            </select>
                                                                            <p class="text text-primary"></p>
                                                                        </td>
                                                                        <td>
                                                                            <select class="form-control select2 batchId" style="width: 100%;" id="BatchId" asp-for="@m.UnitId" name="UnitId" asp-items="@ViewBag.Units" required>
                                                                                <option selected="selected" value="0">--Select Unit--</option>
                                                                            </select>
                                                                            <a class="text text-info d-none" style="cursor: pointer;" onclick="$(this).closest('tr').find('#ProductId').trigger('change');">Change Batch ID</a>
                                                                            <div class="text text-primary" id="availQty"></div>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" step="any" class="form-control calc" id="UnitPrice" name="UnitPrice" placeholder="0.00" required value="@m.UnitPrice"
                                                                                   oninput="$(this).closest('tr').find('#TotalSalePrice').val(($(this).closest('tr').find('#Qty').val() * $(this).val()) - ( ( ($(this).val() * $(this).closest('tr').find('#disc_per').val()) / 100 ) *  $(this).closest('tr').find('#Qty').val()) );" />
                                                                            <div class="text text-primary"></div>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" step="any" class="form-control calc" id="Qty" name="Qty" placeholder="0.00" required value="@m.Qty"
                                                                                   oninput="$(this).closest('tr').find('#TotalSalePrice').val(($(this).closest('tr').find('#UnitPrice').val() * $(this).val()) -( (($(this).closest('tr').find('#UnitPrice').val() * $(this).closest('tr').find('#disc_per').val()) / 100) * $(this).val() ) );" />
                                                                        </td>

                                                                        <td class="d-none">
                                                                            @{
                                                                                var tsaleprice = m.Qty * m.UnitPrice;
                                                                                var pdis = m.Discount;
                                                                                var perdis = (100 * pdis) / tsaleprice;
                                                                            }
                                                                            <input type="hidden" id="Discount" name="Discount" value="@m.Discount" />
                                                                            <input type="number" step="any" class="form-control calc dis" value="@perdis" min="0" max="100" id="disc_per"
                                                                                   oninput="$(this).closest('tr').find('#TotalSalePrice').val(($(this).closest('tr').find('#Qty').val() * $(this).closest('tr').find('#UnitPrice').val()) - ((($(this).closest('tr').find('#UnitPrice').val()) * $(this).val() / 100) * $(this).closest('tr').find('#Qty').val())); $(this).closest('tr').find('#Discount').val(((($(this).closest('tr').find('#UnitPrice').val()) * $(this).val() / 100) * $(this).closest('tr').find('#Qty').val()));" />
                                                                            <div class="text text-primary"></div>
                                                                        </td>
                                                                        <td>
                                                                            <input type="number" step="any" class="form-control total" id="TotalSalePrice" name="TotalSalePrice" placeholder="0.00" readonly required value="@m.TotalSalePrice" />
                                                                            <div class="text text-primary"></div>
                                                                        </td>
                                                                        <td>
                                                                            <button type="button" class="btn btn-sm btn-danger" onclick="$(this).closest('tr').remove();"><i class="fa fa-trash"></i> Delete</button>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                        <tbody>
                                                            @{
                                                                string CurrentName = System.Threading.Thread.CurrentThread.CurrentUICulture.Name;

                                                                var valueDefined = "";


                                                                switch (CurrentName)
                                                                {
                                                                    case "ps":
                                                                        valueDefined = "text text-left";
                                                                        break;

                                                                    case "da":
                                                                        valueDefined = "text text-left";
                                                                        break;

                                                                    default:
                                                                        valueDefined = "text text-right";
                                                                        break;
                                                                }
                                                            }
                                                            <tr>
                                                                <td colspan="4" class="@valueDefined">Sub Total</td>
                                                                <td>
                                                                    <input type="number" step="any" class="form-control" id="total" asp-for="@Sale.SubTotal" placeholder="0.00" readonly />
                                                                </td>
                                                                <td>
                                                                    <button type="button" class="btn btn-sm btn-primary-outline" id="btnAddItem"><i class="fa fa-plus-circle"></i> Add New</button>
                                                                    <button type="button" class="btn btn-sm btn-primary-outline d-none" id="btnAddItem2"><i class="fa fa-plus-circle"></i> Add New</button>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="4" class="@valueDefined">
                                                                    <div class="form-group">
                                                                        <div id="input-type" class="row float-lg-right">
                                                                            <label for="input-type">Select Discount Type &nbsp;&nbsp; </label>
                                                                            <label class="radio-inline form-check-inline">
                                                                                <input type="radio" name="TextBoxCheck" checked="checked" value="0" onClick="show()" /> By Percentage(%)
                                                                            </label>
                                                                            <label class="radio-inline form-check-inline">
                                                                                <input type="radio" name="TextBoxCheck" value="1" onClick="show()" /> By Fixed Amount
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <div id='DiscountTextBoxDiv'>
                                                                        @{
                                                                            var totalDis = Sale.DiscountAmount;
                                                                            var subTotal = Sale.SubTotal;
                                                                            decimal disc = (100 * totalDis) / subTotal;
                                                                        }
                                                                        <input type="number" step="any" value="@disc" id="totalPercentDiscount" oninput="calcDiscount();" class="form-control calc" min="0" max="100" />
                                                                    </div>
                                                                    <div id='FixedAmountTextBoxDiv'>
                                                                        <input step="any" asp-for="@Sale.DiscountAmount" id="totalDiscount" class="form-control calc" />
                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <div id="AmountLabelForDiscount">  <p class="text text-info">Amount: <span id="discAmount">@Sale.DiscountAmount</span></p></div>
                                                                </td>

                                                            </tr>

                                                            <tr>
                                                                <td colspan="4" class="@valueDefined">Total Discount (%)</td>
                                                                <td>
                                                                </td>
                                                                <td>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="4" class="@valueDefined">Rent</td>
                                                                <td>
                                                                    <input type="number" step="any" asp-for="@Sale.RentAmount" id="rent" class="form-control calc" />
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr class="d-none">
                                                                <td colspan="4" class="@valueDefined">Tax</td>
                                                                <td>
                                                                    <input type="number" step="any" asp-for="@Sale.TaxAmount" id="tax" class="form-control calc" />
                                                                </td>
                                                                <td></td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="4" class="@valueDefined">Grand Total</td>
                                                                <td>
                                                                    <input type="number" step="any" asp-for="@Sale.TotalAmount" placeholder="0.00" id="grandtotal" class="form-control" readonly />
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4" class="@valueDefined">Paid Amount</td>
                                                                <td>
                                                                    <input type="number" step="any" asp-for="@Sale.PaidAmount" id="paid" class="form-control calc" />
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4" class="@valueDefined">Due Amount</td>
                                                                <td>
                                                                    <input type="number" step="any" asp-for="@Sale.DueAmount" placeholder="0.00" id="due" class="form-control" readonly />
                                                                </td>
                                                                <td><button type="button" class="btn btn-sm btn-danger-outline text text-danger" onclick="clearAll();"><i class="fa fa-remove"></i> Clear</button></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>


                                            <div class="form-group row d-none" id="dvExchange">
                                                <div class="col-lg-3 col-md-3 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Exchange Rate <span class="required">*</span></label>
                                                        <input type="text" id="ExchangeRate" asp-for="@Sale.ExchangeRate" value="0" class="form-control" placeholder="Exchange Rate" />
                                                        <span asp-validation-for="@Sale.ExchangeRate" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 col-md-3 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Exchange Amount <span class="required">*</span></label>
                                                        <input type="text" id="ExchangeAmount" asp-for="@Sale.ExchangeAmount" value="0" class="form-control" readonly placeholder="Exchange Amount" />
                                                        <span asp-validation-for="@Sale.ExchangeAmount" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 col-md-3 col-sm-12">
                                                    <div class="form-group">

                                                        <div class="form-group">
                                                            <div id="input-type" class="row float-lg-right">
                                                                <label for="input-type">
                                                                    Operation &nbsp; &nbsp;
                                                                </label>
                                                                <label class="radio-inline form-check-inline">
                                                                    <input type="radio" id="rdMultiply" name="rdExchangeOperation" class="md-radiobtn" value="*">  X
                                                                </label>
                                                                <label class="radio-inline form-check-inline">
                                                                    <input type="radio" id="rdDivide" name="rdExchangeOperation" class="md-radiobtn" value="/"> /
                                                                </label>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-12 text text-left">
                                                    <input type="hidden" value="@ViewBag.SaleDetailsFlg" id="SaleDetailsFlg" />

                                                    <button type="button" class="btn btn-sm btn-primary-outline mr-2" onclick="calculate();"><i class="fa fa-money"></i> Calculate</button>

                                                    <button type="button" class="btn btn-sm btn-info-outline text text-info mr-2" onclick="fullPay();"><i class="fa fa-money"></i> Full Paid</button>

                                                    <button type="submit" class="btn btn-mat btn-success mr-2">
                                                        <i class="fa fa-save"></i> Save
                                                    </button>

                                                    <button type="reset" class="btn btn-mat btn-danger">
                                                        <i class="fa fa-times"></i> Cancel
                                                    </button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Page body end -->

                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script>

        var batchId = "";

        $('.select2').select2();

        $("#pType").on('change', function () {
            if ($(this).val() == "2") {
                $("#bank").removeAttr("Style");
            } else {
                $("#bank").addClass("d-none");
            }
        });

        var i = 1;
        var sId = 0;

        $("#btnAddItem").click(function () {
            i++;
            //sId = $("#supplierId").val();
            $.ajax({
                cache: false,
                url: '@Url.Action("LoadDetails", "Sale")',
                dataType: "html",
                //data: { "supplierId": sId, "i": i },
                type: "GET",
                contentType: "application/json",
                success: function (response) {
                    $('#items').append(response);
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });
        });

        function fullPay() {
            var total = $("#grandtotal").val();
            $("#due").val(0);
            $("#paid").val(total);

        }

        function calcDiscount() {
            var subtotal = $("#total").val();
            var discper = $("#totalPercentDiscount").val();

            var res = (subtotal * discper) / 100;

            $("#totalDiscount").val(res);
            $("#discAmount").text(res);

        }


    $('.batchId').change(function () {
        var pId = $(this).closest('tr').find('#ProductId').val();
        var batchId = $(this).val();
        var elm = $(this).closest('tr').find('#availQty');
        var elm2 = $(this).closest('tr').find('#UnitPrice');
        $(this).closest('tr').find("#UnitPrice").val("");
        $(this).closest('tr').find("#Qty").val("");
        $(this).closest('tr').find("#Discount").val(0);
        elm.text("");
        $.ajax({
            type: "GET",
            cache: false,
            url: '@Url.Action("GetProductsAvailQtyByUnit", "Sale")',
            data: { "unitId": batchId, "productId": pId },
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                //console.log(response);
                elm.text("Available Qty: " + response);
                getQty(elm2, batchId, pId);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("No, available Qty!");
                elm.text("No, available Qty!")
            }
        });
    });

    function getQty(elm2, batchId, pId) {
        $.ajax({
            type: "GET",
            cache: false,
            url: '@Url.Action("GetBatchUnitPrice", "Sale")',
            data: { "unitId": batchId, "productId": pId },
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                //console.log(response);
                elm2.val(response);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                elm2.val("No unit price available.");
                console.log("No, unit price available.");
            }
        });
    }

        DiscountTextBoxDiv.style.display = 'inline-block';
        AmountLabelForDiscount.style.display = 'inline-block';

        function show() {
            var TextBoxCheck = document.getElementsByName('TextBoxCheck');
            var DiscountTextBoxDiv = document.getElementById("DiscountTextBoxDiv");

            var FixedAmountTextBoxDiv = document.getElementById("FixedAmountTextBoxDiv");
            var AmountLabelForDiscount = document.getElementById("AmountLabelForDiscount");



            if (TextBoxCheck[0].checked) {

                DiscountTextBoxDiv.style.display = 'inline-block';
                AmountLabelForDiscount.style.display = 'inline-block';
                FixedAmountTextBoxDiv.style.display = 'none';
            } else {
                DiscountTextBoxDiv.style.display = 'none';
                AmountLabelForDiscount.style.display = 'none';
                FixedAmountTextBoxDiv.style.display = 'inline-block';

            }
        }
    </script>

    <script src="~/js/saleFormValidation.js"></script>
}

