@model ViewSaleDetailsViewModel

@{
    ViewData["Title"] = "Sales";

    var Sale = Model.Sale;
    var SaleDetails = Model.SaleDetails;
    var shopDetails = Model.ShopModelDetails;
}

@section Styles {
    <style>
        .body {
            text-align: center;
            font-size: 12px;
        }

        #header {
            margin: 0 auto;
        }

        .sno {
            text-align: right;
            font-size: 18px;
            margin-left: 50px;
        }

        table {
            width: 100%;
            direction: rtl;
            text-align: right;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }

        #footer-text {
            font-size: 12px;
            direction: rtl;
        }
    </style>
}

<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">

        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12" style="margin:0 auto;">
                <!-- Page-header start-->
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">Sales Administration</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                <a asp-action="Index" asp-controller="Sale"
                                   class="btn btn-mat btn-primary mr-2" style="color: white;">
                                    <i class="fa fa-list"></i> Sales List
                                </a>

                                <a asp-action="Create" asp-controller="Sale"
                                   class="btn btn-mat btn-primary mr-2" style="color: white;">
                                    <i class="fa fa-shopping-cart"></i> Add New Sale
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Page-header end -->
                <!-- Page-body start -->

                <div class="page-body PrintArea">

                    <div class="card">
                        <div class="card-header">
                            <h5>Print Invoice</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa-chevron-left"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-times close-card"></i></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block table-border-style" id="DivIdToPrint">
                            <div class="body">
                                <div id="header">
                                    <img src="~/gas-title.png" />
                                </div>
                                <div id="content">
                                    @{
                                        string iDate = Sale.SaleDate;
                                        DateTime oDate = Convert.ToDateTime(iDate);
                                    }
                                    <p class="sno"> <span style="float: right;"><u>نمبر بل: @Sale.Id</u></span> <span style="float: left;">تاریخ: @oDate.Date.ToShortDateString()</span></p><br /><br />
                                    <p class="sno" style="direction: rtl; text-align: right;"><span>نام مشتری: @Sale.CustomerName</span> <span style="margin-right: 20px;">شماره تماس: @Sale.Customer.Phone</span> <span style="margin-right: 20px;">ادرس: @Sale.Customer.Address</span> </p>
                                    <table style="margin-top: 0; padding-top: 0; text-align:right;">
                                        <thead style="text-align: right !important;">
                                            <tr>
                                                <th class="text text-right">شماره</th>
                                                <th class="text text-right">جنس</th>
                                                <th class="text text-right">واحد اندازه ګیری</th>
                                                <th class="text text-right">قیمت فی واحد</th>
                                                <th class="text text-right">مقدار</th>
                                                <th class="text text-right">مجموعه</th>
                                            </tr>
                                        </thead>
                                        <tbody style="text-align: right !important;">
                                            @if (SaleDetails.Any())
                                            {
                                                foreach (var m in SaleDetails)
                                                {
                                                    <tr>
                                                        <td>@m.Sno</td>
                                                        <td>@m.Product.Name</td>
                                                        <td>@m.Unit.Name</td>
                                                        <td>@m.UnitPrice</td>
                                                        <td>@m.Qty</td>
                                                        @*<td>
                                                                @{ var res = (100 * m.Discount) / (m.Discount + m.TotalSalePrice); }
                                                                @m.Discount (@res %)
                                                            </td>*@
                                                        <td>@m.TotalSalePrice</td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                        <tbody>
                                            <tr>

                                                <th colspan="5" class="text text-left">مجموعه اولیه</th>
                                                <td>
                                                    @Sale.SubTotal
                                                </td>

                                            </tr>

                                            <tr>
                                                <th colspan="5" class="text text-left">کرایه</th>
                                                <td>
                                                    @Sale.RentAmount
                                                </td>

                                            </tr>
                                            <tr>
                                                <th colspan="5" class="text text-left">تخفیف (٪)</th>
                                                <td>
                                                    @Sale.DiscountAmount
                                                </td>

                                            </tr>

                                            <tr>
                                                <th colspan="5" class="text text-left">مجموعه پول</th>
                                                <td>
                                                    @Sale.TotalAmount
                                                </td>

                                            </tr>
                                            <tr>
                                                <th colspan="5" class="text text-left">تادیه شده</th>
                                                <td>
                                                    @Sale.PaidAmount
                                                </td>

                                            </tr>
                                            <tr>
                                                <th colspan="5" class="text text-left">باقیمانده</th>
                                                <td>
                                                    @Sale.DueAmount
                                                </td>

                                            </tr>
                                            <tr>
                                                <td colspan="6">
                                                    <bold>نوت: </bold> @Sale.Description
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <p class="sno">امضاء مدیر: ـــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ</p>
                                    <hr>
                                    <p><span style="direction: rtl; float: right;">ادرس: ارزان قیمت سلیم کاروان</span> <span style="direction: rtl; float: left;"> شماره های تماس: 0774102020 - 0731159741 - 0776785461</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text text-right p-2">
                            <button type="button" class="btn btn-info" id="onClick" style="padding:8px" value='Print' onclick='printDiv("DivIdToPrint");'>Print</button>
                        </div>
                    </div>
                    <!-- Basic table card end -->
                </div>
                <!-- Page-body end -->

                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $("#onClick").trigger("click");
        });
    </script>

}