@model LoginViewModel
@{
    Layout = "";
}
@inject IViewLocalizer localizer
@{
    string CurrentName = System.Threading.Thread.CurrentThread.CurrentUICulture.Name;
    var valueDefined = "";

    switch (CurrentName)
    {
        case "ps":
            valueDefined = "text text-right";

            break;

        case "da":
            valueDefined = "text text-right";

            break;

        default:

            valueDefined = "text text-left";
            break;
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>@localizer["Sign In | TechVision"]</title>
    <style>
        #demotext {
            font-family: roboto;
            font-size: 24px;
            font-weight: 400;
            color: #ffffff;
        }

        /*.toggle-password {
            float: right;
            cursor: pointer;
            margin-right: 10px;
            margin-top: -25px;
        }*/
        .field-icon {
            float: right;
            margin-left: -25px;
            margin-top: -25px;
            position: relative;
            z-index: 2;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Stock Managment System" />
    <meta name="keywords" content="">
    <meta name="author" content="TechVisioncs" />
    <!-- Favicon icon -->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/admin_assets/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/admin_assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/admin_assets/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/admin_assets/css/style.css">
</head>

<body class="fix-menu">
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="loader-bar"></div>
        </div>
    </div>
    <!-- Pre-loader end -->

    <section class="login p-fixed d-flex text-center bg-primary common-img-bg">
        <!-- Container-fluid starts -->
        <div class="container  @valueDefined">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                    <div class="login-card card-block auth-body mr-auto ml-auto">

                        <div class="text-center">
                            <div id="demotext">@localizer["Tech Vision"]</div>
                        </div>

                        <div class="auth-box">
                            <form class="md-float-material" method="POST" asp-action="Login" asp-controller="Account">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="@valueDefined txt-primary ">@localizer["Sign In"]</h3>
                                    </div>
                                </div>
                                <hr />
                                <div asp-validation-summary="All" class="text-danger @valueDefined"></div>

                                <div class="input-group">
                                    <input type="email" class="form-control @valueDefined" placeholder="@localizer["Your Email Address"]" asp-for="Email" required autofocus autocomplete="off">
                                    <span class="md-line"></span>
                                </div>

                                <div class="input-group">
                                    <input type="password" id="password" class="form-control @valueDefined" placeholder="@localizer["Password"]" required autocomplete="off" asp-for="Password">
                                    @*<i id="icon" class="fa fa-eye-slash"></i>*@
                                    @*<span class="fa fa-eye-slash"
                                        id="togglePassword"></span>*@
                                </div>

                                <div class="row m-t-25 text-left">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="checkbox-fade fade-in-primary">
                                            <label>
                                                <input type="checkbox" value="true" asp-for="RememberMe">
                                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                <span class="text-inverse">@localizer["Remember Me"]</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-xs-12">
                                        <div class="checkbox-fade fade-in-primary">
                                            <label>
                                                <input type="checkbox" id="checkbox">
                                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                <span class="text-inverse">@localizer["Show Password"]</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">@localizer["log in"]</button>
                                    </div>
                                </div>
                            </form>

                            <partial name="_Culture" />
                            <hr />
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="text-inverse @valueDefined m-b-0">@localizer["Thank you and enjoy our application"]</p>
                                    <p class="text-inverse @valueDefined"><b>@localizer["Your"] <a href="http://techvision.af/" style="color: cornflowerblue">@localizer["TechVision"]</a> @localizer["Team"]</b></p>
                                </div>
                                <div class="col-md-2">
                                    <img src="~/logo-small-bottom.png" alt="small-logo.png">
                                </div>
                            </div>
                        </div>
                        <!-- end of form -->
                    </div>
                    <!-- Authentication card end -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>

    <!-- Required Jquery -->
    <script type="text/javascript" src="~/admin_assets/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/admin_assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/admin_assets/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="~/admin_assets/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/admin_assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/admin_assets/js/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="~/admin_assets/js/modernizr/css-scrollbars.js"></script>
    <script type="text/javascript" src="~/admin_assets/js/common-pages.js"></script>
</body>
</html>
<script>
    const togglePassword = document
        .querySelector('#togglePassword');

    const password = document.querySelector('#password');

    togglePassword.addEventListener('click', () => {

        // Toggle the type attribute using

        // getAttribure() method
        const type = password
            .getAttribute('type') === 'password' ?
            'text' : 'password';

        password.setAttribute('type', type);

        // Toggle the eye and bi-eye icon
        this.classList.toggle('fa-eye');
    });
</script>
<script>
    $(document).ready(function () {
        $('#checkbox').on('change', function () {
            $('#password').attr('type', $('#checkbox').prop('checked') == true ? "text" : "password");
        });
    });
</script>
<script>
    //$(".toggle-password").click(function () {
    //    $(this).toggleClass("fa-eye fa-eye-slash");
    //    input = $(this).parent().find("input");
    //    if (input.attr("type") == "password") {
    //        input.attr("type", "text");
    //    } else {
    //        input.attr("type", "password");
    //    }
    //});

    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>