@model Employee
@{
    ViewData["Title"] = "Employees";
}
<div class="main-body">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-ms-12" style="margin:0 auto;">
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">Employees Administration</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                <a asp-action="Index" asp-controller="Employee"
                                   class="btn btn-mat btn-primary" style="color: white;">
                                    <i class="fa fa-list"></i>Employees List
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Basic Form Inputs card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Update Employee <span class="text-behance text-h-primary">(@Model.Name @Model.Lastname)</span></h5>
                                    <div class="card-header-right">
                                        <i class="icofont icofont-spinner-alt-5"></i>
                                    </div>
                                    <div class="card-header-right">
                                        <i class="icofont icofont-spinner-alt-5"></i>
                                    </div>
                                    <hr />
                                </div>
                                <div class="card-block">
                                    <div class="col-sm-12 text text-center">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12" style="margin: 0 auto;">
                                        <form asp-action="Edit" asp-controller="Employee" enctype="multipart/form-data">

                                            <div class="row">
                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            Name <span class="required">*</span>
                                                        </label>
                                                        <input type="text" asp-for="Name" name="Name" id="Name" class="form-control" required autocomplete="off" dir="auto" autofocus />
                                                        <span asp-validation-for="Name" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            Last Name
                                                        </label>
                                                        <input type="text" asp-for="Lastname" name="Lastname" id="Lastname" class="form-control" autocomplete="off" />
                                                        <span asp-validation-for="Lastname" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            Father Name <span class="required">*</span>
                                                        </label>
                                                        <input type="text" asp-for="Fathername" name="Fathername" id="Fathername" class="form-control" required autocomplete="off" />
                                                        <span asp-validation-for="Fathername" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            National Id <span class="required">*</span>
                                                        </label>
                                                        <input type="text" asp-for="NationalIdnumber" name="NationalIdnumber" id="NationalIdnumber" class="form-control" autocomplete="off" />
                                                        <span asp-validation-for="NationalIdnumber" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            Base Salary <span class="required">*</span>
                                                        </label>
                                                        <input type="text" asp-for="BaseSalary" name="BaseSalary" id="BaseSalary" onkeypress="ChangeNumbers1(event, 'BaseSalary');" oninput="ChangeNumbers2(event, 'BaseSalary');" class="form-control" autocomplete="off" />
                                                        <span asp-validation-for="BaseSalary" class="text-danger"></span>
                                                    </div>
                                                </div>


                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <div class="form-group">
                                                        <label asp-for="Leavedate" class="control-label">Leave Date</label>
                                                        <div class="input-group">
                                                            <input type="date" id="Leavedate" name="Leavedate" asp-for="Leavedate" class="form-control" aria-invalid="false" placeholder="yyyy/mm/dd">
                                                            <span asp-validation-for="Leavedate" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <div class="form-group">
                                                        <label asp-for="Birthdate" class="control-label">Birth Date</label>
                                                        <div class="input-group">
                                                            <input type="date" id="Birthdate" name="Birthdate" asp-for="Birthdate" class="form-control" aria-invalid="false" placeholder="yyyy/mm/dd">
                                                            <span asp-validation-for="Birthdate" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <div class="form-group">
                                                        <label asp-for="Hiredate" class="control-label">Hire Date</label>
                                                        <div class="input-group">
                                                            <input type="date" id="Hiredate" name="Hiredate" asp-for="Hiredate" class="form-control" aria-invalid="false" placeholder="yyyy/mm/dd">
                                                            <span asp-validation-for="Hiredate" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label"> Phone </label>
                                                        <input asp-for="Phone" class="form-control" />
                                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Email</label>
                                                        <input type="email" asp-for="Email" class="form-control" />
                                                        <span asp-validation-for="Email" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Gender</label>
                                                        <select class="form-control select2" style="width: 100%;" name="Gender" id="Gender" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
                                                            <option selected="selected" value="0">--Select Gender --</option>
                                                        </select>
                                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Marital Status</label>
                                                        <select class="form-control select2" style="width: 100%;" name="MaritalStatus" id="MaritalStatus" asp-for="MaritalStatus" asp-items="Html.GetEnumSelectList<MaritalState>()">
                                                            <option selected="selected" value="0">--Select Marital Status--</option>
                                                        </select>
                                                        <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Educational Degree</label>
                                                        <select class="form-control select2" style="width: 100%;" name="EducationalDegree" id="EducationalDegree" asp-for="EducationalDegree" asp-items="Html.GetEnumSelectList<EducationDegree>()">
                                                            <option selected="selected" value="0">--Select Educational Degree--</option>
                                                        </select>
                                                        <span asp-validation-for="EducationalDegree" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Designation</label>
                                                        <select class="form-control select2" style="width: 100%;" asp-for="DesignationId" asp-items="@ViewBag.Designation">
                                                            <option selected="selected" value="NULL">--Select Designation--</option>
                                                        </select>
                                                        <span asp-validation-for="DesignationId" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Country</label>
                                                        <select class="select2 form-control" style="width: 100%;" id="CountryIdd" asp-for="Countryid" asp-items="@ViewBag.Countries">
                                                            <option selected="selected" value="0">--Select Country--</option>
                                                        </select>
                                                        <span asp-validation-for="Countryid" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Province</label>
                                                        <select class="form-control select2" style="width: 100%;" id="ProvinceIdd" asp-for="Provinceid" asp-items="@ViewBag.Provinces">
                                                            <option selected="selected" value="0">--Select Province--</option>
                                                        </select>
                                                        <span asp-validation-for="Provinceid" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-8 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Address</label>
                                                        <input type="text" asp-for="Address" class="form-control" />
                                                        <span asp-validation-for="Address" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-8 col-md-8 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            Image
                                                        </label>
                                                        <input type="file" asp-for="ImageFile" name="ImageFile" id="ImageFile" class="form-control" accept="image/*" />
                                                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-4 col-sm-12">
                                                    <div class="form-group">
                                                        <img src="~/Uploads/employee-profile/@Model.Image" style="width: 150px; height: 200px;" />
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <hr />
                                                    <input type="hidden" hidden asp-for="CreatedAt" />
                                                    <input type="hidden" hidden asp-for="Id" />
                                                    <input type="hidden" hidden asp-for="Image" />
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Details</label>
                                                        <textarea asp-for="Details" class="form-control"> </textarea>
                                                        <span asp-validation-for="Details" class="text-danger"></span>
                                                    </div>
                                                </div>



                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-12 text text-left">
                                                    <button type="submit" class="btn btn-mat btn-success mr-2">
                                                        <i class="fa fa-save"></i> Update
                                                    </button>

                                                    <a asp-action="Index" asp-controller="Employee"
                                                       class="btn btn-mat btn-danger" style="color: white;">
                                                        <i class="fa fa-list"></i>Cancel
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page body end -->
                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();;"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
    $('#CountryIdd').change(function () {
            var pId = $(this).val();
            var elm = $('#ProvinceIdd');
            elm.empty().append('<option selected="selected" value="0">--Select Province--</option>');
        $.ajax({
            type: "GET",
            cache: false,
            url: '@Url.Action("GetProvincesByID", "Home")',
            data: {"id": pId},
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                response.forEach(function (item) {
                    elm.append($('<option>').val(item['id']).text(item['name']));
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("No Provice for !");
            }
        });
    });
    </script>
}
