@model IEnumerable<EmployeeSalaryViewModel>
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Employee Salaries"];
}

<div class="main-body">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12" style="margin:0 auto;">
                <!-- Page-header start-->
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">@localizer["Employees Administration"]</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                @localizer[""]
                                <a asp-action="Create" asp-controller="Employee"
                                   class="btn btn-mat btn-primary" style="color: white;">
                                    <i class="fa fa-user-plus"></i> @localizer["Add New Employee"]
                                </a>

                                <a asp-action="GetAllLedgers" asp-controller="Employee"
                                   class="btn btn-mat btn-info" style="color: white;">
                                    <i class="fa fa-list"></i> @localizer["Employees Ledger"]
                                </a>

                                <a asp-action="FiredEmployeeList" asp-controller="Employee"
                                   class="btn btn-mat btn-info mr-2" style="color: white;">
                                    <i class="fa fa-list"></i> @localizer["Fire/Leave Employe"]
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="page-header card">
                    <div class="card-block">
                        <form method="get" asp-action="EmployeeSalaries" asp-controller="Employee">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Months</label>
                                        <select class="form-control select2" style="width: 100%;" name="month">
                                            <option selected="selected" value="0">@localizer["Select Month"]</option>
                                            <option value="1">@localizer["January"]</option>
                                            <option value="2">@localizer["Feberuary"]</option>
                                            <option value="3">@localizer["March"]</option>
                                            <option value="4">@localizer["Aprial"]</option>
                                            <option value="5">@localizer["May"]</option>
                                            <option value="6">@localizer["June"]</option>
                                            <option value="7">@localizer["July"]</option>
                                            <option value="8">@localizer["August"]</option>
                                            <option value="9">@localizer["September"]</option>
                                            <option value="10">@localizer["October"]</option>
                                            <option value="11">@localizer["Novamber"]</option>
                                            <option value="12">@localizer["December"]</option>
                                        </select>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">@localizer["Year"]</label>
                                        <select class="form-control select2" style="width: 100%;" name="year">
                                            <option selected="selected" value="0">@localizer["Select Year"]</option>
                                            <option value="@ViewBag.CurrenYear">@ViewBag.CurrenYear</option>
                                            @{ int currentyear = @ViewBag.CurrenYear;}
                                            @for (int i = currentyear - 1; i > currentyear - 5; i--)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label"></label>
                                        @ViewBag.Y |
                                        @if (ViewBag.M == 1)
                                        {
                                            <span>@localizer["January"]</span>
                                        }
                                        else if (ViewBag.M == 2)
                                        {
                                            <span>@localizer["Feberuary"]</span>
                                        }
                                        else if (ViewBag.M == 3)
                                        {
                                            <span>@localizer["March"]</span>
                                        }
                                        else if (ViewBag.M == 4)
                                        {
                                            <span>@localizer["Aprial"]</span>
                                        }
                                        else if (ViewBag.M == 5)
                                        {
                                            <span>@localizer["May"]</span>
                                        }
                                        else if (ViewBag.M == 6)
                                        {
                                            <span>@localizer["June"]</span>
                                        }
                                        else if (ViewBag.M == 7)
                                        {
                                            <span>@localizer["July"]</span>
                                        }
                                        else if (ViewBag.M == 8)
                                        {
                                            <span>@localizer["Augest"]</span>
                                        }
                                        else if (ViewBag.M == 9)
                                        {
                                            <span>@localizer["September"]</span>
                                        }
                                        else if (ViewBag.M == 10)
                                        {
                                            <span>@localizer["October"]</span>
                                        }
                                        else if (ViewBag.M == 11)
                                        {
                                            <span>@localizer["Novamber"]</span>
                                        }
                                        else
                                        {
                                            <span>@localizer["December"]</span>
                                        }
                                        <hr />
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-12" style="padding-top: 20px;">
                                    <div class="form-group pt-2">
                                        <button type="submit" class="btn btn-primary mr-2"><i class="fa fa-search"></i>@localizer["Search"]</button>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <h5>@localizer["Employees List"]</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa-chevron-left"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-times close-card"></i></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block table-border-style">
                            <div class="table-responsive">
                                <table id="example1" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>@localizer["SNo"].</th>
                                            <th>@localizer["Name"]</th>
                                            <th>@localizer["Designation"]</th>
                                            <th>@localizer["HireDate"]</th>
                                            <th>@localizer["Basic Salary"]</th>
                                            <th>@localizer["Status"]</th>
                                            <th>@localizer["Actions"]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ var sno = 1;}
                                        @if (Model.Any())
                                        {
                                            foreach (var m in Model)
                                            {
                                                <tr>
                                                    <td>@sno <span class="d-none">@{sno++;}</span></td>
                                                    <td>@m.EmployeeName</td>
                                                    <td>@m.DesignationName</td>
                                                    <td>@m.Hiredate</td>
                                                    <td>@m.BasicSalary.ToString("N")</td>
                                                    <td>
                                                        @if (m.isPaid == true)
                                                        {
                                                            <span class="badge badge-success">&nbsp;&nbsp;@localizer["Paid"]&nbsp;&nbsp;</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-warning">&nbsp;&nbsp;@localizer["UnPaid"]&nbsp;&nbsp;</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (m.isPaid != false)
                                                        {
                                                            <a class="btn btn-info btn-xs"
                                                               asp-route-id="@m.Id"
                                                               asp-controller="Employee"
                                                               asp-action="EmployeeSalaryDetails">
                                                                <i class="fa fa-eye"></i>
                                                            </a>

                                                            <a class="btn btn-primary btn-xs"
                                                               asp-route-id="@m.Id"
                                                               asp-route-empId="@m.EmployeeId"
                                                               asp-controller="Employee"
                                                               asp-action="EmployeeSalaryEdit">
                                                                <i class="fa fa-pencil"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-info"
                                                               asp-route-id="@m.EmployeeId"
                                                               asp-controller="Employee"
                                                               asp-action="EmployeeSalaryCreate">
                                                                <i class="fa fa-money"></i> @localizer["Add Salary"]
                                                            </a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Basic table card end -->
                </div>
                <!-- Page-body end -->
                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i> @localizer["Back"]
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main-body end -->