@model EmployeeSalaryViewModel
@{
    ViewData["Title"] = "Employee Salaries";
}
<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12" style="margin:0 auto;">
                <!-- Page-header start-->
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">
                            Employee Administration</h6>
                            <ul class="breadcrumb-title b-t-default p-t-10">
                                <li class="breadcrumb-item pull-right">
                                    <a asp-action="Index" asp-controller="Employee"
                                       class="btn btn-mat btn-primary mr-2" style="color: white;">
                                        <i class="fa fa-list"></i> Employees List
                                    </a>
                                    <a class="btn btn-mat btn-primary mr-2" style="color:white;"
                                       asp-controller="Employee"
                                       asp-action="EmployeeSalaries"
                                       asp-route-month="0"
                                       asp-route-year="0">
                                        <i class="fa fa-list"></i> Employee Salary List
                                    </a>
                                    <a asp-action="FiredEmployeeList" asp-controller="Employee"
                                       class="btn btn-mat btn-primary mr-2" style="color: white;">
                                        <i class="fa fa-list"></i> Fire/Leave Employe
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <h6>Employee Details</h6>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa-chevron-left"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-times close-card"></i></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block table-border-style">
                            <div id="dvContents">
                                <div class="row">
                                    <div class="col-12">
                                        <h6>Employee Info</h6>
                                        <hr />
                                    </div>

                                    <div class="col-lg-2 col-md-4 col-sm-6">
                                        <h6>Name</h6>
                                        <p>@Model.EmployeeName</p>
                                        <hr />
                                    </div>

                                    <div class="col-lg-2 col-md-4 col-sm-6">
                                        <h6>Designation</h6>
                                        <p>@Model.DesignationName</p>
                                        <hr />
                                    </div>

                                    <div class="col-lg-2 col-md-4 col-sm-6">
                                        <h6>Father Name</h6>
                                        <p>@Model.EmployeeFatherName</p>
                                        <hr />
                                    </div>

                                    <div class="col-lg-2 col-md-4 col-sm-6">
                                        <h6>Hire Date.</h6>
                                        <p>@Model.Hiredate</p>
                                        <hr />
                                    </div>

                                    <div class="col-lg-2 col-md-4 col-sm-6">
                                        <h6>Base Salary</h6>
                                        <p>@Model.BasicSalary</p>
                                        <hr />
                                    </div>
                                </div>

                                <div class="col-12">
                                    <h6>Salary Details</h6>
                                    <hr />
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <h6>Due Date</h6>
                                            <p>@Model.DueDate</p>
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <h6>Basic Salary</h6>
                                            <p>@Model.BasicSalary.ToString("N")</p>
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <h6>Month</h6>
                                            <p>@Model.SalaryMonth</p>
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <h6>Year</h6>
                                            <p>@Model.SalaryYear</p>
                                            <hr />
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <hr />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <h6>Tax</h6>
                                            <p>@Model.Tax.ToString("N")</p>
                                            <hr />
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <h6>Bounse</h6>
                                            <p>@Model.Bounce.ToString("N")</p>
                                            <hr />
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <h6>Over Time</h6>
                                            <p>@Model.OverTime.ToString("N")</p>
                                            <hr />
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <h6>Total WOrk Days</h6>
                                            <p>@Model.TotalWorkDays</p>
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <hr />
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <h6>Salary Status</h6>
                                            <p>
                                                @if (Model.isPaid == true)
                                                {
                                                    <span class="badge bg-success">&nbsp;&nbsp; Paid &nbsp;&nbsp;</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-warning">&nbsp;&nbsp; UnPaid &nbsp;&nbsp;</span>
                                                }
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <h6 class="text text-danger">Remaind</h6>
                                            <p>@Model.Balanced.ToString("N")</p>
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <h6>Paid</h6>
                                            <p>@Model.Paid.ToString("N")</p>
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <h6>
                                                Net Salary</6>
                                                <p>@Model.NetSalary.ToString("N")</p>
                                                <hr />
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <hr />
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-12">
                                        <h6>System Info</h6>
                                        <hr />
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <h6>Entry Performed By</h6>
                                        <p>@Model.UserName</p>
                                        <hr />
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <h6>Created At</h6>
                                        <p>@Model.CreatedAt</p>
                                        <hr />
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <h6>Update At</h6>
                                        <p>@Model.UpdatedAt</p>
                                        <hr />
                                    </div>

                                    <div class="col-12">
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-lg-offset-2 text text-left">
                                <a class="btn btn-danger"
                                   asp-route-id="@Model.Id"
                                   asp-controller="Employee"
                                   asp-action="DeleteEmployeeSalary">
                                    <i class="fa fa-trash"></i> Delete
                                </a>
                                &nbsp;
                                &nbsp;
                                <a class="btn btn-primary"
                                   asp-route-id="@Model.Id"
                                   asp-route-empId="@Model.EmployeeId"
                                   asp-controller="Employee"
                                   asp-action="EmployeeSalaryEdit">
                                    <i class="fa fa-edit"></i> Update
                                </a>
                                &nbsp;
                                &nbsp;
                                <button type="button" class="btn btn-info" style="padding:20px" value='Print' onclick="PrintTable();">Print</button>
                            </div>
                        </div>
                    </div>
                    <!-- Basic table card end -->
                </div>
                <!-- Page-body end -->

                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        function PrintTable() {
            var printWindow = window.open();
            printWindow.document.write('<html><head><title>Table Contents</title>');

            //Print the Table CSS.
            var table_style = document.getElementById("table_style").innerHTML;
            printWindow.document.write('<style type = "text/css">');
            printWindow.document.write(table_style);
            printWindow.document.write('</style>');
            printWindow.document.write('</head>');

            //Print the DIV contents i.e. the HTML Table.
            printWindow.document.write('<body>');
            var divContents = document.getElementById("dvContents").innerHTML;
            printWindow.document.write(divContents);
            printWindow.document.write('</body>');

            printWindow.document.write('</html>');
            printWindow.document.close();
            printWindow.print();
        }
    </script>
}