@model IEnumerable<EmployeeSalaryViewModel>
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Employee Salaries"];
}

<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">

        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12" style="margin:0 auto;">
                <!-- Page-header start-->
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">@localizer["Employee Salaries Administration"]</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                <a asp-action="Index" asp-controller="Employee"
                                   class="btn btn-mat btn-primary mr-2" style="color: white;">
                                    <i class="fa fa-list"></i> @localizer["Employees List"]
                                </a>
                                <a class="btn btn-mat btn-primary mr-2" style="color:white;"
                                   asp-controller="Employee"
                                   asp-action="EmployeeSalaries"
                                   asp-route-month="0"
                                   asp-route-year="0">
                                    <i class="fa fa-list"></i>@localizer["Employee Salary List"]
                                </a>
                                <a asp-action="FiredEmployeeList" asp-controller="Employee"
                                   class="btn btn-mat btn-primary mr-2" style="color: white;">
                                    <i class="fa fa-list"></i> @localizer["Fire/Leave Employe"]
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Page-header end -->
                <!-- Page-body start -->

                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <h5>@localizer["Employee Salary Details"]</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa-chevron-left"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-times close-card"></i></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block table-border-style">
                            <div class="row">
                                <div class="col-12">
                                    <h6>@localizer["Employee Info"]</h6>
                                    <hr />
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h5>@localizer["Employee Name"]</h5>
                                    <p>@ViewBag.Name</p>
                                    <hr />
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h5>@localizer["Father Name"]</h5>
                                    <p>@ViewBag.Fathername</p>
                                    <hr />
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h5>@localizer["Designation"]</h5>
                                    <p>@ViewBag.DesignationName</p>
                                    <hr />
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h5>@localizer["Email"]</h5>
                                    <p>@ViewBag.Email</p>
                                    <hr />
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h5>@localizer["Phone"]</h5>
                                    <p>@ViewBag.Phone</p>
                                    <hr />
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h5>@localizer["HireDate"]</h5>
                                    <p>@ViewBag.Hidredate</p>
                                    <hr />
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h5>@localizer["Address"]</h5>
                                    <p>@ViewBag.Address</p>
                                    <hr />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <h6>@localizer["Monthly Info"]</h6>
                                    <hr />
                                </div>

                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>@localizer["SNo"].</th>
                                                    <th>@localizer["Year"]</th>
                                                    <th>@localizer["Month"]</th>
                                                    <th>@localizer["Basic Salary"]</th>
                                                    <th>@localizer["Net Salary"]</th>
                                                    <th>@localizer["Date"]</th>
                                                    <th>@localizer["Status"]</th>
                                                    <th>@localizer["Actions"]</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ var sno = 1;}
                                                @if (Model.Any())
                                                {
                                                    foreach (var m in Model)
                                                    {
                                                        <tr>
                                                            <td>@sno <span class="d-none">@{sno++;}</span></td>
                                                            <td>@m.SalaryYear</td>
                                                            <td>
                                                                @if (m.SalaryMonth == 1)
                                                                {
                                                                    <span>@localizer["January"]</span>
                                                                }
                                                                else if (m.SalaryMonth == 2)
                                                                {
                                                                    <span>@localizer["Feberuary"]</span>
                                                                }
                                                                else if (m.SalaryMonth == 3)
                                                                {
                                                                    <span>@localizer["March"]</span>
                                                                }
                                                                else if (m.SalaryMonth == 4)
                                                                {
                                                                    <span>@localizer["April"]</span>
                                                                }
                                                                else if (m.SalaryMonth == 5)
                                                                {
                                                                    <span>@localizer["May"]</span>
                                                                }
                                                                else if (m.SalaryMonth == 6)
                                                                {
                                                                    <span>@localizer["June"]</span>
                                                                }
                                                                else if (m.SalaryMonth == 7)
                                                                {
                                                                    <span>@localizer["July"]</span>
                                                                }
                                                                else if (m.SalaryMonth == 8)
                                                                {
                                                                    <span>@localizer["Auguest"]</span>
                                                                }
                                                                else if (m.SalaryMonth == 9)
                                                                {
                                                                    <span>@localizer["September"]</span>
                                                                }
                                                                else if (m.SalaryMonth == 10)
                                                                {
                                                                    <span>@localizer["October"]</span>
                                                                }
                                                                else if (m.SalaryMonth == 11)
                                                                {
                                                                    <span>@localizer["Novamber"]</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>@localizer["December"]</span>
                                                                }
                                                            </td>
                                                            <td>@m.BasicSalary.ToString("N")</td>
                                                            <td>@m.NetSalary.ToString("N")</td>
                                                            <td>@m.DueDate</td>
                                                            <td>
                                                                @if (m.isPaid == true)
                                                                {
                                                                    <span class="badge bg-success">&nbsp;&nbsp; @localizer["Paid"] &nbsp;&nbsp;</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="badge bg-warning">&nbsp;&nbsp;@localizer["Unpaid"]&nbsp;&nbsp;</span>
                                                                }
                                                            </td>

                                                            <td>
                                                                <a class="btn btn-info btn-xs"
                                                                   asp-route-id="@m.Id"
                                                                   asp-controller="Employee"
                                                                   asp-action="EmployeeSalaryDetails">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>

                                                                <a class="btn btn-danger"
                                                                   asp-route-id="@m.Id"
                                                                   asp-controller="Employee"
                                                                   asp-action="DeleteEmployeeSalary">
                                                                    <i class="fa fa-trash"></i> @localizer["Delete"]
                                                                </a>

                                                                &nbsp;

                                                                <a class="btn btn-primary"
                                                                   asp-route-id="@m.Id"
                                                                   asp-controller="Employee"
                                                                   asp-action="EmployeeSalaryEdit">
                                                                    <i class="fa fa-edit"></i>@localizer["Update"]
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Basic table card end -->
                </div>
                <!-- Page-body end -->
                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i>@localizer["Back"]
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>