@model IEnumerable<EmployeeSalaryViewModel>

@{
    ViewData["Title"] = "Employee Salaries";
}

<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">

        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12" style="margin:0 auto;">
                <!-- Page-header start-->
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">Employee Salaries Administration</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                <a asp-action="Index" asp-controller="Employee"
                                   class="btn btn-mat btn-primary mr-2" style="color: white;">
                                    <i class="fa fa-list"></i> Employees List
                                </a>
                                <a class="btn btn-mat btn-primary mr-2" style="color:white;"
                                   asp-controller="Employee"
                                   asp-action="EmployeeSalaries"
                                   asp-route-month="0"
                                   asp-route-year="0">
                                    <i class="fa fa-list"></i> Employee Salary List
                                </a>
                                <a asp-action="FiredEmployeeList" asp-controller="Employee"
                                   class="btn btn-mat btn-primary mr-2" style="color: white;">
                                    <i class="fa fa-list"></i> Fire/Leave Employe
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Page-header end -->
                <!-- Page-body start -->

                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <h5>Employee Salary Details</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa-chevron-left"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-times close-card"></i></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block table-border-style">
                            <div class="row">
                                <div class="col-12">
                                    <h6>Employee Info</h6>
                                    <hr />
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h5>Employee Name</h5>
                                    <p>@ViewBag.Name</p>
                                    <hr />
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h5>Father Name</h5>
                                    <p>@ViewBag.Fathername</p>
                                    <hr />
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h5>Designation Name</h5>
                                    <p>@ViewBag.DesignationName</p>
                                    <hr />
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h5>Email</h5>
                                    <p>@ViewBag.Email</p>
                                    <hr />
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h5>Phone</h5>
                                    <p>@ViewBag.Phone</p>
                                    <hr />
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h5>HireDate</h5>
                                    <p>@ViewBag.Hidredate</p>
                                    <hr />
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h5>Address</h5>
                                    <p>@ViewBag.Address</p>
                                    <hr />
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <h5>Province</h5>
                                    <p>@ViewBag.ProvinceName</p>
                                    <hr />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <h6>Monthly Info</h6>
                                    <hr />
                                </div>

                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>SNo.</th>
                                                    <th>Year</th>
                                                    <th>Month</th>
                                                    <th>Basic Salary</th>
                                                    <th>Net Salary</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ var sno = 1;}
                                                @if (Model.Any())
                                                {
                                                    foreach (var m in Model)
                                                    {
                                                        <tr>
                                                            <td>@sno <span class="d-none">@{sno++;}</span></td>
                                                            <td>@m.SalaryYear</td>
                                                            <td>
                                                                @if (m.SalaryMonth == 1)
                                                                {
                                                                    <span>January</span>
                                                                }
                                                                else if (m.SalaryMonth == 2)
                                                                {
                                                                    <span>Feberuary</span>
                                                                }
                                                                else if (m.SalaryMonth == 3)
                                                                {
                                                                    <span>March</span>
                                                                }
                                                                else if (m.SalaryMonth == 4)
                                                                {
                                                                    <span>April</span>
                                                                }
                                                                else if (m.SalaryMonth == 5)
                                                                {
                                                                    <span>May</span>
                                                                }
                                                                else if (m.SalaryMonth == 6)
                                                                {
                                                                    <span>June</span>
                                                                }
                                                                else if (m.SalaryMonth == 7)
                                                                {
                                                                    <span>July</span>
                                                                }
                                                                else if (m.SalaryMonth == 8)
                                                                {
                                                                    <span>Auguest</span>
                                                                }
                                                                else if (m.SalaryMonth == 9)
                                                                {
                                                                    <span>September</span>
                                                                }
                                                                else if (m.SalaryMonth == 10)
                                                                {
                                                                    <span>October</span>
                                                                }
                                                                else if (m.SalaryMonth == 11)
                                                                {
                                                                    <span>Novamber</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>December</span>
                                                                }
                                                            </td>
                                                            <td>@m.BasicSalary.ToString("N")</td>
                                                            <td>@m.NetSalary.ToString("N")</td>
                                                            <td>@m.DueDate</td>
                                                            <td>
                                                                @if (m.isPaid == true)
                                                                {
                                                                    <span class="badge bg-success">&nbsp;&nbsp; Paid &nbsp;&nbsp;</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="badge bg-warning">&nbsp;&nbsp;Unpaid&nbsp;&nbsp;</span>
                                                                }
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-info btn-xs"
                                                                   asp-route-id="@m.Id"
                                                                   asp-controller="Employee"
                                                                   asp-action="EmployeeSalaryDetails">
                                                                    <i class="fa fa-eye"></i>
                                                                </a>
                                                                <a class="btn btn-danger"
                                                                   asp-route-id="@m.Id"
                                                                   asp-controller="Employee"
                                                                   asp-action="DeleteEmployeeSalary">
                                                                    <i class="fa fa-trash"></i> Delete
                                                                </a>
                                                                &nbsp;
                                                                &nbsp;
                                                                <a class="btn btn-primary"
                                                                   asp-route-id="@m.Id"
                                                                   asp-controller="Employee"
                                                                   asp-action="EmployeeSalaryEdit">
                                                                    <i class="fa fa-edit"></i> Update
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Basic table card end -->
                </div>
                <!-- Page-body end -->

                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>