@model Product
@{
    ViewData["Title"] = "Products";
}

<div id="PlaceHolderHere"></div>

<div class="main-body">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-ms-12" style="margin:0 auto;">
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">Products Administration</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                <a asp-action="Index" asp-controller="Product"
                                   class="btn btn-mat btn-info" style="color: white;">
                                    <i class="fa fa-list"></i>  Products List
                                </a>

                                <a asp-action="Index" asp-controller="Unit"
                                   class="btn btn-mat btn-info" style="color: white;">
                                    <i class="fa fa-list"></i> Manage Units
                                </a>

                                <a asp-action="Index" asp-controller="Category"
                                   class="btn btn-mat btn-info" style="color: white;">
                                    <i class="fa fa-list"></i> Manage Cateogory
                                </a>

                                <a asp-action="Index" asp-controller="Manufacturer"
                                   class="btn btn-mat btn-info" style="color: white;">
                                    <i class="fa fa-list"></i> Manage Manufecturer
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>

                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Basic Form Inputs card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Add a new Product</h5>

                                    <div class="card-header-right">
                                        <i class="icofont icofont-spinner-alt-5"></i>
                                    </div>

                                    <div class="card-header-right">
                                        <i class="icofont icofont-spinner-alt-5"></i>
                                    </div>
                                    <hr />
                                </div>

                                <div class="card-block">
                                    <div class="col-sm-12 text text-center">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                    </div>

                                    <div class="col-lg-8 col-md-10 col-sm-12" style="margin: 0 auto;">
                                        <form method="post" asp-action="Create" id="frm">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            Name <span class="required">*</span>
                                                        </label>
                                                        <input asp-for="Name" class="form-control" required autocomplete="on" />
                                                        <span asp-validation-for="Name" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Manufacturer</label>
                                                        <select required class="form-control select2 custom-select2" style="width: 100%;" asp-for="ManufacturerId" asp-items="@ViewBag.Manufacturers">
                                                            <option selected="selected" value="0">--Select Manufacturer--</option>
                                                        </select>
                                                        <span asp-validation-for="ManufacturerId" class="text-danger"></span>
                                                        <a data-toggle="ajax-modal" data-target="#exampleModal" data-url="@Url.Action("Create", "Manufacturer")"
                                                           data-redirect="@Url.Action("Create", "Product")" class="text text-info" style="color: white; cursor: pointer;">
                                                            <i class="fa fa-plus-circle"></i> Add New Manufecture
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Category</label>
                                                        <select required class="form-control select2" style="width: 100%;" id="CategoryId" asp-for="CategoryId" asp-items="@ViewBag.Category">
                                                            <option selected="selected" value="0">--Select Category--</option>
                                                        </select>
                                                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                                                        <a data-toggle="ajax-modal" data-target="#exampleModal" data-url="@Url.Action("Create", "Category")"
                                                           data-redirect="@Url.Action("Create", "Product")" class="text text-info" style="color: white; cursor: pointer;">
                                                            <i class="fa fa-plus-circle"></i> Add New Category
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Description</label>
                                                        <textarea asp-for="Description" class="form-control"> </textarea>
                                                        <span asp-validation-for="Description" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <hr />

                                                    <label class="control-label">
                                                        Unit Details
                                                    </label>
                                                    <a data-toggle="ajax-modal" data-target="#exampleModal" data-url="@Url.Action("Create","Unit")"
                                                       data-redirect="@Url.Action("Create", "Product")" class="text text-danger" style="color: white; cursor: pointer;">
                                                        <i class="fa fa-plus-circle"></i> Add New Unit
                                                    </a>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <td>Unit Name</td>
                                                            <td>Unit Sell Price</td>
                                                        </tr>
                                                        @foreach (var m in ViewBag.Unit)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <input type="hidden" class="form-control" name="UnitId" value="@m.Id" />
                                                                    <input value="@m.Name" readonly class="form-control" />
                                                                </td>
                                                                <td>
                                                                    <input type="number" value="0" step="any" name="UnitSellPrice" class="form-control" />
                                                                </td>
                                                            </tr>
                                                        }
                                                        <label class="text-muted"> please configure product units </label>

                                                    </table>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-12 text text-left">
                                                    <button type="submit" class="btn btn-mat btn-success mr-2">
                                                        <i class="fa fa-save"></i> Save
                                                    </button>

                                                    <button type="reset" class="btn btn-mat btn-danger">
                                                        <i class="fa fa-times"></i> Cancel
                                                    </button>

                                                    <button type="button" id="ButtonCLicked" hidden onclick="LoadDropDowns();" />

                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Page body end -->

                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{


    <script>

         $(document).ready(function () {
            $("#ButtonCLicked").trigger('click');
        });

        function LoadDropDowns() {
            $("#ManufacturerId").empty().append('<option selected="selected" value="">--Select Manufecturer--</option>');
            $("#CategoryId").empty().append('<option selected="selected" value="">--Select Category--</option>');
               $.ajax({
                        type: "POST",
                        cache: false,
                        url: '@Url.Action("GetManufacturer", "Product")',
                        contentType: "application/json",
                        dataType: "json",
                        success: function (response) {
                            response.forEach(function (item) {
                                $("#ManufacturerId").append($('<option>').val(item['value']).text(item['text']));
                            });
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                        }
               });

               $.ajax({
                        type: "POST",
                        cache: false,
                        url: '@Url.Action("GetCategory", "Product")',
                        contentType: "application/json",
                        dataType: "json",
                        success: function (response) {
                            response.forEach(function (item) {
                                $("#CategoryId").append($('<option>').val(item['value']).text(item['text']));

                            });
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                        }
               });
        }

        $("#sbm_btn").on('click', function () {
            $("#sbm_flg").val("1");
            $("#frm").submit();
        });
    </script>
}