@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@inject IViewLocalizer localizer
@{
    var user = await userManager.GetUserAsync(User);
}

<nav class="pcoded-navbar">
    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel" data-i18n="nav.category.navigation" style="text-transform:uppercase">@localizer["MAIN"]</div>

        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-action="Index" asp-controller="Dashboard">
                    <span class="pcoded-micon"><i class="fa fa-dashboard"></i></span>@localizer[""]
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">@localizer["Dashboard"]</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-action="Create" asp-controller="Sale">
                    <span class="pcoded-micon"><i class="fa fa-shopping-cart"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">@localizer["Sales"]</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-action="Create" asp-controller="Purchase">
                    <span class="pcoded-micon"><i class="fa fa-cart-arrow-down"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">@localizer["Purchases"]</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-action="Index" asp-controller="Return">
                    <span class="pcoded-micon"><i class="fa fa-undo"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">@localizer["Retruns"]</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-action="Index" asp-controller="Stock">
                    <span class="pcoded-micon"><i class="fa fa-shopping-cart"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">@localizer["Stock"]</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-action="Index" asp-controller="Product">
                    <span class="pcoded-micon"><i class="fa fa-product-hunt"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">@localizer["Products"]</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

        @*<div class="pcoded-navigatio-lavel" data-i18n="nav.cate gory.other"></div>*@

        @*<div class="pcoded-navigatio-lavel" data-i18n="nav.cate gory.other"></div>*@

        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-action="Create" asp-controller="Expense">
                    <span class="pcoded-micon"><i class="fa fa-money"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">@localizer["Expenses"]</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-action="Create" asp-controller="Employee">
                    <span class="pcoded-micon"><i class="fa fa-users"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">@localizer["Employees"]</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="fa fa-book"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.basic-components.main">@localizer["Accounts"]</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a asp-action="" asp-controller="">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">@localizer["Cash Book"]</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class=" ">
                        <a asp-action="Index" asp-controller="Bank">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">@localizer["Bank"]</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class="">
                        <a asp-action="Index" asp-controller="Saraf">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.menu-levels.menu-level-22.menu-level-31">@localizer["Saraf"]</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="pcoded-item pcoded-left-item">
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="fa fa-file"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.basic-components.main"></span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li class=" ">
                        <a href="#">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">@localizer["Sales Report"]</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="#">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">@localizer["Purchases Report"]</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="#">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">@localizer["Returns Report"]</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="#">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">@localizer["Wastages Report"]</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="#">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">@localizer["Expenses Report"]</span>
                            <span class="pcoded-mcaret"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>


        <div class="pcoded-navigatio-lavel" data-i18n="nav.cate gory.other" style="text-transform:uppercase">@localizer["Settings"] </div>

        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-action="Users" asp-controller="Administration">
                    <span class="pcoded-micon"><i class="fa fa-user-secret"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">@localizer["Users"]</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>

        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a onclick="event.preventDefault();
                                        document.getElementById('logout-form222').submit();" style="cursor: pointer;">
                    <span class="pcoded-micon"><i class="fa fa-sign-out"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.form-components.main">@localizer["Logout"]</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <form method="post" asp-action="FullLogout" asp-controller="Account" id="logout-form222" style="display: none;"></form>
            </li>
        </ul>
    </div>
</nav>