@model ReturnDetails
@inject IViewLocalizer localizer
<tr id="newItem">
    <td>
        <select class="form-control" style="width: 100%;" asp-for="@Model.ProductId" asp-items="@ViewBag.Products" required disabled>
            <option selected="selected" value="0">@localizer["Select Product"]</option>
        </select>
        <span asp-validation-for="@Model.ProductId" class="text-danger"></span>
    </td>
    <td>
        <select class="form-control" style="width: 100%;" asp-for="@Model.UnitId" asp-items="@ViewBag.Units" required disabled>
            <option selected="selected" value="0">@localizer["Select Unit"]</option>
        </select>
        <span asp-validation-for="@Model.UnitId" class="text-danger"></span>
    </td>
    <td>
        <input type="number" step="any" class="form-control" name="unitPrice" value="@Model.UnitPrice" placeholder="0.00" />
    </td>
    <td>
        <input type="number" step="any" class="form-control" name="returnedQty" value="@Model.Qty" placeholder="0.00" />
    </td>
    <td>
        <input type="number" step="any" class="form-control" name="discount" value="@Model.Discount" placeholder="0.00">
    </td>
    <td>
        <input type="number" step="any" class="form-control total" name="totalReturnPrice" value="@Model.TotalReturnPrice" placeholder="0.00" readonly required />
    </td>
    <td>
        <input type="checkbox" class="form-control" name="returnDetailsId" value="@Model.Id"
               style="width: 2.2rem; height: 2.2rem;" />
    </td>
</tr>

<script src="~/js/purchaseReturnFormValidation.js"></script>
<script>
    $('.select2').select2();
</script>
