@model CreatePurchaseViewModel
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Returns"];
    var Purchase = Model.Purchase;
    var PurchaseDetails = Model.PurchaseDetails;
}

<div class="main-body">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-ms-12" style="margin:0 auto;">
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">@localizer["Purchase Returns Administration"]</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                <a asp-action="PurchaseReturn" asp-controller="Return"
                                   class="btn btn-mat btn-primary" style="color: white;">
                                    <i class="fa fa-list"></i>@localizer["Purchase Returns List"]
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Basic Form Inputs card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>@localizer["Add purchase return"]</h5>

                                    <div class="card-header-right">
                                        <i class="icofont icofont-spinner-alt-5"></i>
                                    </div>

                                    <div class="card-header-right">
                                        <i class="icofont icofont-spinner-alt-5"></i>
                                    </div>
                                    <hr />
                                </div>

                                <div class="card-block">
                                    <div class="col-sm-12 text text-center">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12" style="margin: 0 auto;">
                                        <form method="post" asp-action="CreatePurchaseReturn" id="frm">
                                            <div class="row">

                                                <div class="col-lg-4 col-md-4 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">@localizer["Supplier"] <span class="required">*</span></label>
                                                        <select required class="form-control" id="supplierId" style="width: 100%;" asp-for="@Purchase.SupplierId" asp-items="@ViewBag.Suppliers" disabled>
                                                            <option selected="selected" value="0">@localizer["Select Supplier"]</option>
                                                        </select>
                                                        <span asp-validation-for="@Purchase.SupplierId" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-4 col-sm-12 d-none">
                                                    <div class="form-group">
                                                        <label class="control-label">@localizer["Payment Type "]<span class="required">*</span></label>
                                                        <select required class="form-control" style="width: 100%;" asp-for="@Purchase.PaymentType" id="pType" disabled>
                                                            <option selected="selected" value="1">@localizer["Cash Payment"]</option>
                                                            <option value="2">@localizer["Bank Payment"]</option>
                                                        </select>
                                                        <span asp-validation-for="@Purchase.PaymentType" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                @if (Purchase.PaymentType == 2)
                                                {
                                                    <div class="col-lg-4 col-md-4 col-sm-12" id="bank">
                                                        <div class="form-group">
                                                            <label class="control-label">@localizer["Bank"] <span class="required">*</span></label>
                                                            <select required class="form-control" style="width: 100%;" asp-for="@Purchase.BankId" asp-items="@ViewBag.Banks" disabled>
                                                                <option selected="selected" value="0">@localizer["Select Bank"]</option>
                                                            </select>
                                                            <span asp-validation-for="@Purchase.BankId" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                }

                                                <div class="col-lg-4 col-md-4 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">@localizer["Purchase Date"] <span class="required">*</span> </label>
                                                        <input type="date" asp-for="@Purchase.PurchaseDate" class="form-control" required disabled />
                                                        <span asp-validation-for="@Purchase.PurchaseDate" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-4 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">@localizer["Invoice No"] <span class="required">*</span></label>
                                                        <input asp-for="@Purchase.InvoiceNo" class="form-control" required autocomplete="off" Placeholder="Invoice No" disabled />
                                                        <span asp-validation-for="@Purchase.InvoiceNo" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-md-4 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">@localizer["Description"]</label>
                                                        <textarea asp-for="@Purchase.Description" class="form-control" placeholder="@localizer["Details about Purchase..."]" disabled> </textarea>
                                                        <span asp-validation-for="@Purchase.Description" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <input type="hidden" name="purchaseId" value="@ViewBag.PurchaseId" />
                                                    <hr />
                                                </div>

                                                <div class="col-lg-4 col-md-4 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">@localizer["Return Date"] <span class="required">*</span> </label>
                                                        <input type="date" name="returnDate" id="returnDate" class="form-control" required />
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <hr />
                                                </div>

                                                <div class="col-12">
                                                    <h6>@localizer["Item details"]</h6>
                                                    <hr />
                                                </div>

                                                <div class="col-12">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>@localizer["Product"] <span class="required"></span></th>
                                                                <th>@localizer["Unit"] <span class="required"></span></th>
                                                                <th>@localizer["Purchased Qty"] <span class="required"></span></th>
                                                                <th>@localizer["Purchased Price"] <span class="required"></span></th>
                                                                <th>@localizer["Returned Qty"] <span class="required">*</span></th>
                                                                <th>@localizer["Discount(%)"]</th>
                                                                <th>@localizer["Total Price"]</th>
                                                                <th>@localizer["Return Check"] <span class="required">*</span></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="items">
                                                            @if (PurchaseDetails != null)
                                                            {
                                                                foreach (var m in PurchaseDetails)
                                                                {
                                                                    @await Html.PartialAsync("_PurchaseDetailsPartial", m)
                                                                }
                                                            }
                                                        </tbody>
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="6" class="text text-right">@localizer["Sub Total"]</td>
                                                                <td>
                                                                    <input type="number" step="any" class="form-control" name="subTotal" id="subTotal" placeholder="0.00" readonly />
                                                                </td>
                                                                <td></td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="6" class="text text-right">@localizer["Total Discount (%)"]</td>
                                                                <td>
                                                                    <input type="hidden" step="any" name="totalDiscount" value="0" id="totalDiscount" class="form-control calc" />
                                                                    <input type="number" step="any" value="0" id="totalPercentDiscount" oninput="calcDiscount();" class="form-control calc" min="0" max="100" />
                                                                </td>
                                                                <td>
                                                                    <p class="text text-info">@localizer["Amount"]: <span id="discAmount">0</span></p>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="6" class="text text-right">@localizer["Rent"]</td>
                                                                <td>
                                                                    <input type="number" step="any" name="rent" id="rent" value="0" class="form-control calc" />
                                                                </td>
                                                                <td></td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="6" class="text text-right">@localizer["Tax"]</td>
                                                                <td>
                                                                    <input type="number" step="any" name="tax" id="tax" value="0" class="form-control calc" />
                                                                </td>
                                                                <td></td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="6" class="text text-right">@localizer["Grand Total"]</td>
                                                                <td>
                                                                    <input type="number" step="any" name="totalAmount" placeholder="0.00" id="grandtotal" class="form-control" readonly />
                                                                </td>
                                                                <td></td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="6" class="text text-right">@localizer["Received Amount"]</td>
                                                                <td>
                                                                    <input type="number" step="any" name="paidAmount" id="paid" class="form-control calc" />
                                                                </td>
                                                                <td></td>
                                                            </tr>

                                                            <tr>
                                                                <td colspan="6" class="text text-right">@localizer["Balanced Amount"]</td>
                                                                <td>
                                                                    <input type="number" step="any" name="balancedAmount" placeholder="0.00" id="due" class="form-control" readonly />
                                                                </td>
                                                                <td><button type="button" class="btn btn-sm btn-danger-outline text text-danger d-none" onclick="clearAll();"><i class="fa fa-remove"></i> @localizer["Clear"]</button></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">@localizer["Return Notes"]</label>
                                                        <textarea name="returnNote" class="form-control" placeholder="Enter return notes..."> </textarea>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-12 text text-left">
                                                    <button type="button" class="btn btn-sm btn-primary-outline mr-2" onclick="calculate();">
                                                        <i class="fa fa-money"></i> @localizer["Calculate"]
                                                    </button>

                                                    <button type="submit" class="btn btn-mat btn-success mr-2">
                                                        <i class="fa fa-save"></i> @localizer["Save"]
                                                    </button>

                                                    <button type="reset" class="btn btn-mat btn-danger">
                                                        <i class="fa fa-times"></i>@localizer["Cancel"]
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Page body end -->

                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i>@localizer["Back"]
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        document.getElementById('returnDate').valueAsDate = new Date();

        //$("#pType").on('change', function () {
        //    if ($(this).val() == "2") {
        //        $("#bank").removeAttr("Style");
        //    } else {
        //        $("#bank").addClass("d-none");
        //    }
        //});

        var i = 1;
        var sId = 0;
        $("#supplierId").on("change", function () {
            $("#items").find("tr").remove();
                sId = $(this).val();
                $.ajax({
                cache: false,
                url: '@Url.Action("LoadDetails", "Purchase")',
                dataType: "html",
                data: { "supplierId": sId, "i": i },
                type: "GET",
                contentType: "application/json",
                success: function (response) {
                    $('#items').append(response);
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });
        });

        $("#btnAddItem").click(function () {
            i++;
            sId = $("#supplierId").val();
            $.ajax({
                cache: false,
                url: '@Url.Action("LoadDetails", "Purchase")',
                dataType: "html",
                data: { "supplierId": sId, "i": i },
                type: "GET",
                contentType: "application/json",
                success: function (response) {
                    $('#items').append(response);
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });
        });

        //validations
        function calcDiscount() {
            var subtotal = $("#subTotal").val();
            var discper = $("#totalPercentDiscount").val();
            var res = (subtotal * discper) / 100;
            $("#totalDiscount").val(res);
            $("#discAmount").text(res);
        }
    </script>
    <script src="~/js/purchaseReturnFormValidation.js"></script>
}