@model StockDetaillsViewModel

@{
    ViewData["Title"] = "Stock Details";

}

<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12" style="margin:0 auto;">
                <!-- Page-header start-->
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">Stock Administration</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                <a asp-action="Index" asp-controller="Stock"
                                   class="btn btn-mat btn-primary mr-2" style="color: white;">
                                    <i class="fa fa-list"></i> Current Stock
                                </a>

                                <a asp-action="StockDetailsList" asp-controller="Stock"
                                   class="btn btn-mat btn-primary mr-2" style="color: white;">
                                    <i class="fa fa-list"></i> Stock Details
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Page-header end -->

                <div class="page-header card">
                    <div class="card-block">

                        <form method="get" asp-action="EachStockDetails">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Change Unit</label>
                                        <select class="form-control" name="unitId" asp-items="@ViewBag.Units" style="width: 100%;">
                                            <option selected="selected" value="0">--Select Unit--</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-12" style="padding-top: 20px;">
                                    <div class="form-group pt-2">
                                        <button type="submit" class="btn btn-outline-primary mr-2"><i class="fa fa-search"></i> Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Page-body start -->
                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <h5>Stock item Details</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa-chevron-left"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-times close-card"></i></li>
                                </ul>
                            </div>
                        </div>


                        <div class="card-block table-border-style">
                            @if (Model != null)
                            {

                                <div class="row">
                                    <div class="col-12">
                                        <h6>General Info</h6>
                                        <hr />
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <h6>ID</h6>
                                        <p>@Model.Id</p>
                                        <hr />
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <h6>Product Name</h6>
                                        <p>@Model.ProductName</p>
                                        <hr />
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <h6>Manufecturer </h6>
                                        <p>@Model.ManufacturerName</p>
                                        <hr />
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <h6>System Transaction Code</h6>
                                        <p>@Model.TransCode</p>
                                        <hr />
                                    </div>

                                    <div class="col-12">
                                        <h6>Description</h6>
                                        <p>@Model.Description</p>
                                        <hr />
                                    </div>
                                    <div class="col-12">
                                        <h6>Items</h6>
                                        <hr />
                                    </div>

                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>InQty (@ViewBag.UnitName)</th>
                                                        <th>OutQty (@ViewBag.UnitName)</th>
                                                        @*<th>Purchase price</th>
                                                            <th>Sale price</th>*@
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                        <td>@Model.InQty</td>
                                                        <td>@Model.OutQty</td>
                                                        @*<td>@Model.PurchasePrice</td>
                                                            <td>@Model.SalePrice</td>*@
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <hr />
                                    </div>

                                    <div class="col-12">
                                        <h6>System Info</h6>
                                        <hr />
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <h6>Purchase Performed By</h6>
                                        <p>@Model.UserName</p>
                                        <hr />
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <h6>Created At</h6>
                                        <p>@Model.CreatedAt</p>
                                        <hr />
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <h6>Update At</h6>
                                        <p>@Model.UpdatedAt</p>
                                        <hr />
                                    </div>

                                    <div class="col-12">
                                        <br />
                                    </div>

                                    <div class="col-12 text text-right d-none">
                                        <a class="btn btn-info text-white">
                                            <i class="fa fa-print"></i> Print
                                        </a>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-12">
                                        <p class="text text-warning">No item available!</p>
                                    </div>
                                </div>
                            }

                        </div>

                    </div>
                    <!-- Basic table card end -->
                </div>
                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
