@model IEnumerable<ExpenseViewModel>
@inject IViewLocalizer localizer

<div class="table-responsive">
    <table id="example1" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@localizer["SNo"].</th>
                <th>@localizer["Date"]</th>
                <th>@localizer["Category"]</th>
                <th>@localizer["Bill Number"]</th>
                <th>@localizer["Amount"]</th>
                <th>@localizer["Description"]</th>
                <th>@localizer["Actions"]</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var m in Model)
                {
                    <tr>
                        <td>@m.SNO</td>
                        <td>@m.ExpenseDate.ToShortDateString()</td>
                        <td>
                            @m.ExpenseCategoryName
                        </td>
                        <td>@m.BillNumber</td>
                        <td>@m.Amount.ToString("N")</td>
                        <td>@m.Description</td>
                        <td>
                            <a asp-action="PrintDiv" asp-controller="Expense" asp-route-id="@m.Id" target="_blank"
                               class="text text-info mr-3">
                                <i class="fa fa-print"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>