
@model IEnumerable<ExpenseViewModel>

<div class="table-responsive">
    <table id="example1" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>SNo.</th>
                <th>Date</th>
                <th>Category</th>
                <th>Bill Number</th>
                <th>Amount</th>
                <th>Payment Type</th>
                <th>Bank Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var m in Model)
                {
                    <tr>
                        <td>@m.SNO</td>

                        <td>@m.Date.ToShortDateString()</td>
                        <td>
                            @m.ExpenseCategoryName
                        </td>
                        <td>@m.BillNumber</td>
                        <td>@m.Amount.ToString("N")</td>

                        <td>
                            @if (m.PaymentType == 0)
                            {
                                <span class="badge badge-info">Cash</span>
                            }
                            else
                            {
                                <span class="badge badge-info">Bank</span>
                            }
                        </td>
                        <td>
                            @if (m.BankId != 0)
                            {
                                <span class="badge badge-danger">@m.BankName</span>
                            }
                        </td>

                        <td>@m.Description</td>

                        <td>
                            <a asp-action="Edit" asp-controller="Expense" asp-route-id="@m.Id"
                               class="text text-primary mr-3">
                                <i class="fa fa-edit"></i>
                            </a>

                            <a asp-action="PrintSlip" asp-controller="Expense" asp-route-id="@m.Id" target="_blank"
                               class="text text-info mr-3">
                                <i class="fa fa-print"></i>
                            </a>

                            <a asp-action="PrintDiv" asp-controller="Expense" asp-route-id="@m.Id" target="_blank"
                               class="text text-info mr-3">
                                <i class="fa fa-print"></i>
                            </a>

                            <form style="display: inline;" method="POST" asp-controller="Expense" asp-action="Delete" asp-route-Id="@m.Id"
                                  onclick="return confirm('Are you sure you want to delete this?')">
                                <button type="submit" class="btn btn-link text-danger mr-1"> <i class="fa fa-trash"></i></button>
                            </form>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>