@model IEnumerable<PurchaseViewModel>
@inject IViewLocalizer localizer

<div class="table-responsive">
    <table id="example1" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@localizer["Purchase ID"]</th>
                <th>@localizer["Purchase Date"]</th>
                <th>@localizer["Invoice No"]</th>
                <th>@localizer["Supplier"]</th>
                <th>@localizer["Total Amount"]</th>
                <th>@localizer["Actions"]</th>
            </tr>
        </thead>
        <tbody>
            @{ var sno = 1; }

            @if (Model.Any())
            {
                @foreach (var m in Model)
                {
                    <tr>
                        <td>@m.Id</td>
                        @{
                            string iDate = m.PurchaseDate;
                            DateTime oDate = Convert.ToDateTime(iDate);
                        }
                        <td>@oDate.Date.ToShortDateString()</td>
                        <td>@m.InvoiceNo</td>
                        <td>
                            <a asp-action="Details" asp-controller="Supplier" asp-route-id="@m.SupplierId" class="text text-primary">
                                @m.SupplierName
                            </a>
                        </td>
                        <td>@m.TotalAmount.ToString("N")</td>

                        <td>
                            <a asp-action="PrintDiv" asp-controller="Purchase" asp-route-id="@m.Id"
                               class="text text-info mr-2">
                                <i class="fa fa-print"></i>
                            </a>

                            <a asp-action="Details" asp-controller="Purchase" asp-route-id="@m.Id"
                               class="text text-info mr-2">
                                <i class="fa fa-eye"></i>
                            </a>
                            <span class="d-none">@{sno++;}</span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>