@model BankDetailsViewModel

@{
    ViewData["Title"] = "Bank Details";
    var details = Model.bankViewModel;
    var transactios = Model.bankTransactions;
    var ledgers = Model.banksLedger;
}

<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12" style="margin:0 auto;">
                <!-- Page-header start-->

                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">Banks Administration</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                <a asp-action="CreateOrEdit" asp-controller="Bank" asp-route-id="0" class="btn btn-mat btn-primary" style="color: white;">
                                    <i class="fa fa-plus"></i> Add New Bank
                                </a>
                                <a asp-action="Transaction" asp-controller="Bank" class="btn btn-mat btn-info" style="color: white;">
                                    <i class="fa fa-plus"></i> New Transaction
                                </a>
                                <a asp-action="Index" asp-controller="Bank" class="btn btn-mat btn-info" style="color: white;">
                                    <i class="fa fa-list"></i> Banks List
                                </a>
                                <a asp-action="GetAllLedgers" asp-controller="Bank" class="btn btn-mat btn-info" style="color: white;">
                                    <i class="fa fa-list"></i> Banks Ledger
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="card">

                        <div class="card-header">
                            <h5>Bank Details</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa-chevron-left"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-times close-card"></i></li>
                                </ul>
                            </div>
                        </div>

                        <div class="container">
                            <div class="box-body">

                                <div class="page-header card">
                                    <div class="card-block">

                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <h5 class="text text-primary">Bank Details</h5>
                                                <hr />
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                <h6>Bank Name</h6>
                                                <p>@details.BankName</p>
                                                <hr />
                                            </div>

                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                <h6>Account Name</h6>
                                                <p>@details.AccountName</p>
                                                <hr />
                                            </div>

                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                <h6>Account No</h6>
                                                <p>@details.AccountNo</p>
                                                <hr />
                                            </div>

                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                <h6>Branch</h6>
                                                <p>@details.Branch</p>
                                                <hr />
                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <h6>Description</h6>
                                                <p>@details.Description</p>
                                                <hr />
                                            </div>

                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                <h6>Current Amount</h6>
                                                <p>@details.CurrentAmount.ToString("N")</p>
                                                <hr />
                                            </div>

                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                <h6>Created At</h6>
                                                <p>@details.CreatedAt</p>
                                                <hr />
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                <h6>Last Updated At</h6>
                                                <p>@details.UpdatedAt</p>
                                                <hr />
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6">
                                                <h6>Registered By User</h6>
                                                <p>@details.UserName</p>
                                                <hr />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="page-header card">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <h5 class="text text-primary">Bank Transactions List</h5>
                                                <hr />
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="card-block table-border-style">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>SNo.</th>
                                                                    <th>Date</th>
                                                                    <th>Description</th>
                                                                    <th>Transaction Type</th>
                                                                    <th>Amount</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <span class="d-none">@{ var sno = 1; }</span>
                                                                @if (transactios.Any())
                                                                {
                                                                    @foreach (var m in transactios)
                                                                    {
                                                                        <tr>
                                                                            <td>@sno</td>
                                                                            <td>@m.Date</td>
                                                                            <td>@m.Description</td>
                                                                            <td>
                                                                                @if (m.TransType == 0)
                                                                                {
                                                                                    <span>Debit</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span>Credit</span>
                                                                                }
                                                                            </td>
                                                                            <td>
                                                                                @m.Amount.ToString("N")
                                                                                <span class="d-none">
                                                                                    @{ sno++; }
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="page-header card">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <h5 class="text text-primary">Bank Ledger Details</h5>
                                                <hr />
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="card-block table-border-style">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>SNo</th>
                                                                    <th>Date</th>
                                                                    <th>Description</th>
                                                                    <th>Debit</th>
                                                                    <th>Credit</th>
                                                                    <th>Balance</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{
                                                                    decimal totalDebit = 0;
                                                                    decimal totalCredit = 0;
                                                                    decimal totalBalance = 0;
                                                                }
                                                                @if (ledgers.Any())
                                                                {
                                                                    @foreach (var m in ledgers)
                                                                    {
                                                                        <tr>
                                                                            <td>@m.SNo</td>
                                                                            <td>@m.Date</td>
                                                                            <td>@m.Description</td>
                                                                            <td>@m.Debit.ToString("N")</td>
                                                                            <td>@m.Credit.ToString("N")</td>
                                                                            <td>
                                                                                @m.Balance.ToString("N")
                                                                                <span class="d-none">
                                                                                    @{
                                                                                        totalDebit += m.Debit;
                                                                                        totalCredit += m.Credit;
                                                                                    }
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                            <tfoot>
                                                                <tr style="background-color: lightgray;">
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td>Total</td>
                                                                    <td>@totalDebit.ToString("N")</td>
                                                                    <td>@totalCredit.ToString("N")</td>
                                                                    <td>
                                                                        <span class="d-none">
                                                                            @{
                                                                                totalBalance = totalDebit - totalCredit;
                                                                            }
                                                                        </span>

                                                                        @totalBalance.ToString("N")
                                                                    </td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        @*Basic table card end*@
                    </div>
                    @*Page-body end*@

                    <div class="page-header card">
                        <div class="card-block">
                            <ul class="">
                                <li class="breadcrumb-item pull-left">
                                    <a onclick="window.history.back();"
                                       class="text text-danger font-weight-bold" style="cursor: pointer;">
                                        <i class="fa fa-arrow-left"></i> Back
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
