@model IEnumerable<BanksLedgerViewModel>
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Banks Ledger"];
}

<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12" style="margin:0 auto;">
                @*Page-header start*@
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">@localizer["Banks Administration"]</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                <a asp-action="GetAllLedgers" asp-controller="Bank"
                                   class="btn btn-mat btn-primary" style="color: white;">
                                    <i class="fa fa-list"></i> @localizer["Banks Ledger"]
                                </a>

                                <a asp-action="Index" asp-controller="Bank"
                                   class="btn btn-mat btn-info" style="color: white;">
                                    <i class="fa fa-list"></i> @localizer["Banks List"]
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>

                <div class="page-header card">
                    <div class="card-block">

                        <form method="get" asp-action="GetLedgerById" asp-controller="Bank">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">@localizer["Bank"]</label>
                                        <select class="select2 form-control" name="bankId" asp-items="@ViewBag.Banks" style="width: 100%;">
                                            <option selected="selected" value="0">@localizer["Select Bank"]</option>
                                        </select>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">@localizer["From"]</label>
                                        <input type="date" name="startDate" class="form-control" id="inlineFormInputName">
                                        <span class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">@localizer["To"]</label>
                                        <input type="date" name="endDate" class="form-control" id="inlineFormInputName">
                                        <span class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-12" style="padding-top: 20px;">
                                    <div class="form-group pt-2">
                                        <button type="submit" class="btn btn-primary mr-2"><i class="fa fa-search"></i> @localizer["Search"]</button>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <div class="page-header card">
                    <div class="card-block">
                        <div class="row">
                            @if (ViewBag.BankName != null)
                            {
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <h5 class="text text-primary">@localizer["Bank Details"]</h5>
                                    <hr />
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <h6>@localizer["Bank Name"]</h6>
                                    <p>@ViewBag.BankName</p>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <h6>@localizer["Account Name"]</h6>
                                    <p>@ViewBag.AccountName</p>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <h6>@localizer["Account No"]</h6>
                                    <p>@ViewBag.AccountNo</p>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <hr />
                                </div>
                            }

                            @if (ViewBag.StartDate != null)
                            {
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <h5 class="text text-primary">@localizer["Date Details"]</h5>
                                    <hr />
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <h6>@localizer["Start Date"]</h6>
                                    <p>@ViewBag.StartDate</p>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <h6>@localizer["End Date"]</h6>
                                    <p>@ViewBag.EndDate</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="card">
                        <div class="card-header">
                            <h5>@localizer["Bank Ledger"]</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa-chevron-left"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-times close-card"></i></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block table-border-style">
                            <div class="table-responsive">
                                <table id="example1" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>@localizer["SNo"]</th>
                                            <th>@localizer["Date"]</th>
                                            <th>@localizer["Description"]</th>
                                            <th>@localizer["Debit"]</th>
                                            <th>@localizer["Credit"]</th>
                                            <th>@localizer["Balance"]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            decimal totalDebit = 0;
                                            decimal totalCredit = 0;
                                            decimal totalBalance = 0;
                                        }
                                        @if (Model.Any())
                                        {
                                            @foreach (var m in Model)
                                            {
                                                <tr>
                                                    <td>@m.SNo</td>
                                                    <td>@m.Date</td>
                                                    <td>@m.Description</td>
                                                    <td>@m.Debit.ToString("N")</td>
                                                    <td>@m.Credit.ToString("N")</td>
                                                    <td>
                                                        @m.Balance.ToString("N")
                                                        <span class="d-none">
                                                            @{
                                                                totalDebit += m.Debit;
                                                                totalCredit += m.Credit;
                                                            }
                                                        </span>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr style="background-color: lightgray;">
                                            <td></td>
                                            <td></td>
                                            <td>@localizer["Total"]</td>
                                            <td>@totalDebit.ToString("N")</td>
                                            <td>@totalCredit.ToString("N")</td>
                                            <td>
                                                <span class="d-none">
                                                    @{
                                                        totalBalance = totalDebit - totalCredit;
                                                    }
                                                </span>

                                                @totalBalance.ToString("N")
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    @*Basic table card end*@
                </div>
                @*Page-body end*@

                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i>@localizer["Back"]
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>