@model ExpenseViewModel

@{
    ViewData["Title"] = "Expense";
}

@section Styles {
    <style>
        .body {
            text-align: center;
            font-size: 12px;
        }

        #header {
            margin: 0 auto;
        }

        .sno {
            text-align: right;
            font-size: 18px;
            margin-left: 50px;
        }

        table {
            width: 100%;
            direction: rtl;
            text-align: right;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }

        #footer-text {
            font-size: 12px;
            direction: rtl;
        }
    </style>
}

<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12" style="margin:0 auto;">
                <!-- Page-header start-->
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">Expense Administration</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                <a asp-action="Index" asp-controller="Expense"
                                   class="btn btn-mat btn-primary mr-2" style="color: white;">
                                    <i class="fa fa-list"></i> Expense List
                                </a>

                                <a asp-action="Create" asp-controller="PurchExpase"
                                   class="btn btn-mat btn-primary mr-2" style="color: white;">
                                    <i class="fa fa-shopping-cart"></i> Add New Expense
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page-body start -->

                <div class="page-body PrintArea">
                    <div class="card">
                        <div class="card-header">
                            <h5>Print Invoice</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa-chevron-left"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-times close-card"></i></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block table-border-style" id="DivIdToPrint">
                            <div class="body">
                                <div id="header">
                                    <img src="~/Expense-gas-title.png" />
                                </div>
                                <div id="content">
                                    <p class="sno"> <span style="float: right;"><u>نمبر بل: @Model.Id</u></span> <span style="float: left;">تاریخ: @Model.Date.ToShortDateString()</span></p><br /><br />
                                    <p class="sno" style="direction: rtl; text-align: right;"><span>نام کارمند: @Model.EmployeeName</span>   </p>
                                    <table style="margin-top: 0; padding-top: 0; text-align:right;">

                                        <tbody>
                                            <tr>
                                                <th>شماره</th>
                                                <td>@Model.Id</td>
                                                <th>بیل نمبر</th>
                                                <td>@Model.BillNumber</td>
                                            </tr>
                                            <tr>
                                                <th>تاریخ</th>
                                                <td>@Model.Date.ToShortDateString()</td>
                                                <th>مبلغ</th>
                                                <td>@Model.Amount</td>
                                            </tr>
                                            <tr>
                                                <th>کارمند </th>
                                                <td>@Model.EmployeeName</td>
                                                <th>کتګوری</th>
                                                <td>@Model.ExpenseCategoryName</td>
                                            </tr>
                                            <tr>
                                                <th>تصیل</th>
                                                <td colspan="4">@Model.Description</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <p class="sno">امضاء مدیر: ـــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ</p>
                                    <hr>
                                    <p><span style="direction: rtl; float: right;">ادرس: ارزان قیمت سلیم کاروان</span> <span style="direction: rtl; float: left;"> شماره های تماس: 0774102020 - 0731159741 - 0776785461</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 text text-right p-2">
                            <button type="button" id="onClick" class="btn btn-info" style="padding:8px" value='Print' onclick='printSaveTrigger("DivIdToPrint");'>Print</button>
                        </div>
                    </div>
                    <!-- Basic table card end -->
                </div>
                <!-- Page-body end -->

                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $("#onClick").trigger("click");
        });
    </script>

}