@model ExpenseViewModel

@{
    ViewData["Title"] = "Expense";
}


<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">

        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12" style="margin:0 auto;">
                <!-- Page-header start-->
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">Expenses Administration</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                <a asp-action="Create" asp-controller="Expense"
                                   class="btn btn-mat btn-info" style="color: white;">
                                    <i class="fa fa-user-plus"></i> Add New Expense
                                </a>

                                <a asp-action="Index" asp-controller="Expense"
                                   class="btn btn-mat btn-info" style="color: white;">
                                    <i class="fa fa-list"></i> Expenses List
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Page-header end -->
                <!-- Page-body start -->
                <div class="page-body ">
                    <div class="card">
                        <div class="card-header">
                            <h5>Expense Slip Print</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa-chevron-left"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-times close-card"></i></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block table-border-style PrintArea" id="">
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="d-flex flex-column flex-root">
                                        <span class="font-weight-bolder mb-2"><h3>@ViewBag.ShopName</h3></span>
                                        <span class="opacity-60" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:large">
                                            @ViewBag.Phone / @ViewBag.Email <br />
                                            @ViewBag.Address
                                        </span>
                                    </div>
                                    <hr />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="d-flex flex-column flex-root">
                                        <h2> <span class="font-weight-bolder mb-2" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:large"> <b> Expense Slip</h2>
                                        <span class="opacity-60">
                                            Date :  @DateTime.Now.Date.ToShortDateString()  <br />
                                        </span>
                                    </div>
                                    <hr />
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table id="" class="table table-bordered table-hover">
                                            <tbody>
                                                <tr>
                                                    <th>Expense Id</th>
                                                    <td>@Model.Id</td>

                                                    <th>Date</th>
                                                    <td>@Model.Date</td>
                                                </tr>
                                                <tr>
                                                    <th>Amount</th>
                                                    <td>@Model.Amount</td>
                                                    <th>Category</th>
                                                    <td>@Model.ExpenseCategoryName</td>
                                                </tr>
                                                <tr>
                                                    <th>Employee </th>
                                                    <td>@Model.EmployeeName</td>

                                                    <th>Bill Number</th>

                                                    <td>@Model.BillNumber</td>

                                                </tr>
                                                <tr>
                                                    <th>Descriptions</th>
                                                    <td colspan="4">@Model.Description</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 text text-right mb-4 mr-4">
                            <a class="btn btn-info text-white" id="btnprint">
                                <i class="fa fa-print"></i> Print
                            </a>
                        </div>
                    </div>
                    <!-- Basic table card end -->
                </div>
                <!-- Page-body end -->
                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">


        $('#btnprint').click(function () {
            $(".PrintArea").printThis({
                debug: false,                      // show the iframe for debugging
                importCSS: true,                  // import parent page css
                importStyle: true,                // import style tags
                printContainer: true,            // print outer container/$.selector
                loadCSS: "~/css/PrintArea.css",                // path to additional css file - use an array [] for multiple
                pageTitle: "Expence Slip",              // add title to print page
                removeInline: false,             // remove inline styles from print elements
                removeInlineSelector: "*",      // custom selectors to filter inline styles. removeInline must be true
                printDelay: 333,                 // variable print delay
                header: "<h1>Expense Slip Print</h1>",               // prefix to html
                footer: null,                    // postfix to html
                base: false,                    // preserve the BASE tag or accept a string for the URL
                formValues: true,           // preserve input/form values
                canvas: false,              // copy canvas content
                doctypeString: '...',       // enter a different doctype for older markup
                removeScripts: false,       // remove script tags from print content
                copyTagClasses: false,      // copy classes from the html & body tag
                beforePrintEvent: null,     // function for printEvent in iframe
                beforePrint: null,          // function called before iframe is filled
                afterPrint: null            // function called before iframe is removed
            });
        });
    </script>
}