@model IEnumerable<ExpenseViewModel>

@{
    ViewData["Title"] = "Expense Ledger";
}

@section Styles {
    <style>
        .body {
            text-align: center;
            font-size: 12px;
        }

        #header {
            margin: 0 auto;
        }

        .sno {
            text-align: right;
            font-size: 18px;
            margin-left: 50px;
        }

        table {
            width: 100%;
            direction: rtl;
            text-align: right;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }

        #footer-text {
            font-size: 12px;
            direction: rtl;
        }
    </style>
}

<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">
        <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12" style="margin:0 auto;">
                <!-- Page-header start-->
                <div class="page-header card">
                    <div class="card-block">
                        <h5 class="m-b-10">Expense Administration</h5>
                        <ul class="breadcrumb-title b-t-default p-t-10">
                            <li class="breadcrumb-item pull-right">
                                <a asp-action="Index" asp-controller="Expense"
                                   class="btn btn-mat btn-primary mr-2" style="color: white;">
                                    <i class="fa fa-list"></i> Expense List
                                </a>

                                <a asp-action="Create" asp-controller="PurchExpase"
                                   class="btn btn-mat btn-primary mr-2" style="color: white;">
                                    <i class="fa fa-shopping-cart"></i> Add New Expense
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Page-body start -->

                <div class="page-body PrintArea">
                    <div class="card">
                        <div class="card-header">
                            <h5>Print Statment</h5>
                            <div class="card-header-right">
                                <ul class="list-unstyled card-option">
                                    <li><i class="fa fa-chevron-left"></i></li>
                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                    <li><i class="fa fa-times close-card"></i></li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-block table-border-style" id="DivIdToPrint">
                            <div class="body">
                                <div id="header">
                                    <img src="~/Expense-gas-title.png" />
                                </div>
                                <div id="content">
                                    <p class="sno"> <span style="float: right;">-<u></u></span> <span style="float: left;">تاریخ:  @DateTime.Now.Date.ToShortDateString())</span></p><br /><br />
                                    <p class="sno" style="direction: rtl; text-align: right;">
                                        <span>
                                            کتګوری: @if (ViewBag.Category != null)
                                            {
                                                <span>@ViewBag.Category</span>
                                            }
                                            else
                                            {
                                                <span>All Categories</span>
                                            }
                                        </span>
                                    </p>
                                    <div class="table table-responsive">
                                        @if (ViewBag.flg == 1)
                                        {
                                            <table class="table table-bordered text text-center" style="margin-top: 0; padding-top: 0; text-align:right;">
                                                <tr style="background-color: lightgray;">
                                                    <th class="text text-center">Expense Category</th>
                                                    <th class="text text-center">Start Date</th>
                                                    <th class="text text-center">End Date</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @if (ViewBag.Category != null)
                                                        {
                                                            <span>@ViewBag.Category</span>
                                                        }
                                                        else
                                                        {
                                                            <span>All Categories</span>
                                                        }
                                                    </td>
                                                    <td>@ViewBag.StartDate</td>
                                                    <td>@ViewBag.EndDate</td>
                                                </tr>
                                            </table>
                                            <hr />
                                        }

                                        <table id="table_style" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>شماره</th>
                                                    <th>تاریخ</th>
                                                    <th>کتګوری</th>
                                                    <th>تفصیل</th>
                                                    <th style="background-color: lightgray;">مبلغ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ decimal total = 0;}
                                                @if (Model.Any())
                                                {
                                                    foreach (var m in Model)
                                                    {
                                                        <tr>
                                                            <td>@m.SNO</td>
                                                            <td>@m.ExpenseDate.ToShortDateString()</td>
                                                            <td>@m.ExpenseCategoryName</td>
                                                            <td>@m.Description</td>
                                                            <td style="background-color: lightgray;">
                                                                @{ total += m.Amount; }
                                                                @m.Amount.ToString("N")
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr><td colspan="5">معلومات در سیستم موجود نیست</td></tr>
                                                }

                                                <tr>
                                                    <th class="text-right" colspan="4" style="background-color: lightgray;">مجموعه</th>
                                                    <td style="background-color: lightgray;">@total.ToString("N")</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                    <p class="sno">امضاء مدیر: ـــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ</p>
                                    <hr>
                                    <p><span style="direction: rtl; float: right;">ادرس: ارزان قیمت سلیم کاروان</span> <span style="direction: rtl; float: left;"> شماره های تماس: 0774102020 - 0731159741 - 0776785461</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 text text-right p-2">
                            <button type="button" id="onClick" class="btn btn-info" style="padding:8px" value='Print' onclick='printDiv("DivIdToPrint");'>Print</button>
                        </div>
                    </div>
                    <!-- Basic table card end -->
                </div>
                <!-- Page-body end -->

                <div class="page-header card">
                    <div class="card-block">
                        <ul class="">
                            <li class="breadcrumb-item pull-left">
                                <a onclick="window.history.back();"
                                   class="text text-danger font-weight-bold" style="cursor: pointer;">
                                    <i class="fa fa-arrow-left"></i> Back
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $("#onClick").trigger("click");
        });
    </script>

}